header {

    position: relative;
    background-color: rgb(126, 179, 239);
    height: 120px;
    margin-bottom: 15px;
}

.container,
.container-lg,
.container-md,
.container-sm,
.container-xl {
    max-width: 1280px;
}


.carousel-indicators li {
    display: inline-block;
    width: 8px;
    height: 8px;
    background-color: white;
;
    margin: 0px 5px;
}

.carousel-indicators .active {
    width: 9px;
    height: 9px;
    margin: 0px 10px;
    background-color: red;
}

.ser {
    display: flex;
    align-items: center;
    position: absolute;
    margin-top: 18px;
    height: 40px;
    outline: none;
    border-radius: 30px;
    width: 100%;
    border: none;
    text-align: center;


}

.form{
    width: 70%;
    height: 100%;
    position: relative;
    margin: auto;

}

.tim {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 23px;
    right: 5px;
    width: 30px !important;
    height: 30px !important;

    border-radius: 30px;
    background-color: rgb(148, 162, 232);
}
.icon-tim{


}

.slide1{
    width: 100% !important;
    display: flex !important;
    justify-content: center !important;
    text-align: center !important;


}

.sp1{
    text-align: center !important;
}

.xuhuong>span{
    display: block !important;
    text-align: center !important;
}
.nho{
    display: none !important;
}

@media only screen and (max-width: 768px){
    .cc{
        display: none;
    }
    .gio{
        position: absolute;
        top:50px ;
    }
    .body{
        padding: 5px !important;
    }

    .sp1{
        display: flex !important;
        justify-content: center;
    }
    .hotsp{
        display: block !important;
        width: 40%;
        margin: auto !important;


    }

    .foot{
        display: flex !important;
        justify-content: center !important;
        text-align: center !important;
        margin-top: 15px ;
    }


    .hotline{
        line-height: 1;
    }
    .giua{
        display: flex !important;
    }
    .nho{
        display: inline-block;
    }
    .to{
        display: none;
    }


    /* .hos{
     width:30% ;
 }
 .sp{
     width:30% ;
 } */

}

@media (min-width: 770px) and (max-width: 900px){
    .cc{
        display: none;
    }
    .gio{
        position: absolute;
        top:50px ;
    }
    .body{
        padding: 5px !important;
    }

    .sp1{
        display: flex !important;
        justify-content: center;
    }
    .hotsp{
        display: block !important;
        width: 30%;
        margin: auto !important;


    }


}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    text-decoration: none;
    color: white;
    opacity: 0.5;
}


.till {
    margin-top: 13px;
}

.till a {
    margin-left: 5px;
    font-size: 11px;
}

.tn {
    position: relative;
    bottom: -11px;
    right: 16px;
    background-color: red;
}

.gio {
    position: absolute;
    top: 38px;
    /* display: flex;
    justify-content: center; */
    text-align: center;
}

.lan {
    width: 85px;
    height: 50px;
    border: 1px solid white;
    border-radius: 14px;
    margin-left: -12px;
}

.ccRlPb span {
    line-height: 1.6;
    margin: 0px 4px;
    padding: 5px 3px;
    background-color: rgb(255, 66, 78);
    border-radius: 4px;
    color: white;
}

.language:hover {
    background-color: #F2F4F5
}

.DTL {
    padding: 0px 2px;
    line-height: 14px;
    font-size: 12px;
    font-weight: 400;
    margin-left: 8px;
    border: 1px solid rgb(255, 66, 78);
    border-radius: 2px;
    background-color: rgb(255, 240, 241);
    color: rgb(255, 66, 78);
}

.sachtitle {
    color: black;
    font-size: 17px;
    padding-left: 11px;
    text-align: center;
    padding-top: 0px !important;
    line-height: 1.4em;
    word-break: break-word;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    min-height: 2.8em;
    max-height: 2.8em;
    font-size: 0.78em;
}

.xemthem a {
    width: 170px;
    border-radius: 25px;
    background-image: linear-gradient(to right, #ff9800, #F7695D);
}

.xemthem {
    background-color: white;
    margin: 0 -15px;
    display: flex;
}

.sachtitle:hover {
    color: black;
    opacity: 1;
}

.sachxuhuong:hover {
    color: black;
    opacity: 1;
}

.sachxuhuong {
    color: black;
    font-size: 17px;

    text-align: center;
    padding-top: 0px !important;
    line-height: 1.4em;
    word-break: break-word;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    min-height: 2.8em;
    max-height: 2.8em;
}

.salegia {
    margin-left: 10px;
    text-align: center;
    font-size: 20px;
}

.xuhuong {
    margin-left: 10px;
    text-align: left;
    font-size: 20px;
}

.sale-item__lower-wrapper {
    padding: 0 15px 15px;
    display: flex;
    align-items: flex-end;
    margin: 0 auto;
    width: 233px;
}

.sale-item__image--home-page {
    width: 173px;
    height: 173px;
}

.sale-item__lower-left {
    flex: 1 100%;
    text-overflow: ellipsis;
    overflow: hidden;
}

.sale-item__current-price--home-page {
    font-size: 14px;
    text-align: center;
}

.sale-progress-bar__wrapper--home-page {
    padding: 0 7px;
}

.sale-progress-bar {
    height: 16px;
    background: url(/image/mau.png) 0 100% no-repeat;
    background-size: cover;
    position: relative;
    border-radius: 8px;
}

.sale-progress-bar__text {
    text-transform: uppercase;
    font-size: 12px;
    color: #000;
    z-index: 2;
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.sale-progress-bar__complement-wrapper {
    width: 100%;
    background: #ffd3d3;
    overflow: hidden;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: 1;
    height: 16px;
    border-radius: 8px;
}

.sale-progress-bar__complement-color {
    position: absolute;
    width: 100%;
    height: 100%;
    background: #ff632d;
}

.sale-progress-bar__complement-sizer {
    background: #fff;
    float: right;
    position: relative;
    height: 18px;
}

.sp:hover {
    box-shadow: 0 0 5px #d9d9d9;
}

.hotsp {
    margin-top: 5px;
    margin-bottom: 30px;
}


.danhmuc {
    top: 54px;
    left: -153px;
    background: white;
    position: absolute;
    width: 1391px;
    z-index: 999;
    border-radius: 11px;
    text-align: left;
}

ul {
    list-style: none;
    left: 0;
    right: 0;
    padding: 12px 12px 16px 0px;
    text-align: left;
    color: #212121;
}

.danhmuc div .ultitle {
    left: 0;
    right: 0;
    padding: 12px 12px 16px 0px;
    text-align: left;
    color: #212121;
}

.danhmuc div .ultitle li {
    padding: 20px 0px;
    font-size: 19px;
    font-weight: bold;
}

.danhmuc div .ultitle li:hover {
    background: #F2F4F5;
    border-radius: 10px;
    width: 114%;
    padding-left: 5px;
    margin-left: -5px;
}

#danhmucsp a {
    color: black;
}

.fhs_dropdown_cover {
    width: 200vw;
    height: calc(150vh + 100px);
    position: absolute;
    bottom: 0;
    right: 50%;
    -ms-transform: translate(50%, 100%);
    -moz-transform: translate(50%, 100%);
    transform: translate(50%, 100%);
    background: #261E1E none repeat scroll 0% 0%;
    opacity: 0.5;
    z-index: 998;
}

.sp:hover {
    transform: scale(1.05);
}

.scroll {
    color: #fff;
    margin-top: 100px
}

#toTopBtn {
    position: fixed;
    bottom: 26px;
    right: 39px;
    z-index: 98;
    padding: 21px;
    background-color: hsla(5, 76%, 62%, .8)
}

.js .cd-top--fade-out {
    opacity: .5
}

.js .cd-top--is-visible {
    visibility: visible;
    opacity: 1
}

.js .cd-top {
    visibility: hidden;
    opacity: 0;
    transition: opacity .3s, visibility .3s, background-color .3s
}

.cd-top {
    border-radius: 12px;
    position: fixed;
    bottom: 20px;
    bottom: var(--cd-back-to-top-margin);
    right: 20px;
    right: var(--cd-back-to-top-margin);
    display: inline-block;
    height: 40px;
    height: var(--cd-back-to-top-size);
    width: 40px;
    width: var(--cd-back-to-top-size);
    box-shadow: 0 0 10px rgba(0, 0, 0, .05) !important;
    background: url(https://res.cloudinary.com/dxfq3iotg/image/upload/v1571057658/cd-top-arrow.svg) no-repeat center 50%;
    background-color: hsla(5, 76%, 62%, .8);
    background-color: hsla(var(--cd-color-3-h), var(--cd-color-3-s), var(--cd-color-3-l), 0.8)
}

.carousel-indicators li {
    border-radius: 10px;
}

.carousel-indicators li {
    border-top: 0px solid transparent;
    border-bottom: 0px solid transparent;
}

.height {
    height: 3000px
}

.menu:hover {
    color: white;
}

.items {
    margin: 0px auto;
    width: 102.2%;
    left: -15px;
}

body .slick-prev {
    height: 82px;
    width: 35px;
    background-color: #c6c2c2;
    border-bottom-right-radius: 14px;
    border-top-right-radius: 14px;
    left: 0px;
    z-index: 99;
    opacity: 0.5;
}

body .slick-next {
    height: 82px;
    width: 35px;
    background-color: #c6c2c2;
    border-bottom-left-radius: 14px;
    border-top-left-radius: 14px;
    right: 0px;
    z-index: 99;
    opacity: 0.5;
}

body .slick-prev:hover {
    opacity: 0.75;
    background-color: #333131;
}

body .slick-next:hover {
    opacity: 0.75;
    background-color: #333131;
}

body .slick-slider {
    display: flex;
}

body .close {
    height: 50px;
    width: 50px;
    background-color: white;
    border-radius: 41px;
    position: absolute;
    right: -78px;
    top: -22px;
    opacity: 1;
    padding: 9px 18px;
}

body .close:not(:disabled):not(.disabled):focus,
.close:not(:disabled):not(.disabled):hover {
    opacity: 1;
}

body .modal-content {
    flex-direction: row;
}

body .modal-dialog {
    max-width: 55%
}

.frm input {
    border: 0;
    height: 50px;
    font-size: 20px;
    width: 100%;
    outline: none;
}

.frm input:hover {
    outline: none;
}

.frm .controll {
    margin-top: 20px;
    border-bottom: 1px solid rgb(224, 224, 224);
}

body .dangky {
    margin-top: 30px;
    width: 100%;
    height: 40px;
}

.ghIlRk .social-heading {
    text-align: center;
    content: "";
    width: 100%;
    height: 1px;
    background: rgb(242, 242, 242);
    position: absolute;
    left: 15px;
    top: 60%;
    transform: translateY(-50%);
    z-index: 1;
}

.theo {
    top: 63px;
    position: relative;
    text-align: center;
}


body .tab-pane h2 {
    text-align: center;
    margin-top: 6px;
    margin-bottom: 42px;
}

body .nav-tabs .nav-link.active {
    color: #495057;
    background-color: #fca0e8f2;
    border-color: #ffffff #ffffff #f00;
}

.nav-tabs .nav-link {

    background: white;
}

body .nav-tabs .nav-link:focus,
.nav-tabs .nav-link:hover {
    border: none;
}

body .dropleft .dropdown-toggle::before {
    content: none;
}

.fFLyxa .qty-decrease,
.fFLyxa .qty-increase {
    display: inline-block;
    border-right: 1px solid rgb(200, 200, 200);
    color: rgb(153, 153, 153);
    cursor: pointer;
    width: 27px;
    height: 24px;
    padding-left: 7px;
}

.fFLyxa {
    display: inline-flex;
    flex-wrap: nowrap;
    border: 1px solid rgb(200, 200, 200);
    border-radius: 3px;
    width: 96px;
}

.fFLyxa .qty-increase {
    border-right: none;
    border-left: 1px solid rgb(200, 200, 200);
}

.gh div {
    margin-left: 24px;
}

body div #dropdown-menu {
    margin-top: 65px;
    border-radius: 14px;
    min-width: 20rem;
}

.spmua:hover {
    background-color: #ececec29;
}

.ghtitle {
    display: -webkit-box;
    overflow: hidden;
    line-height: 1.6em;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    width: 275px;
}

.dropdown-toggle::after {

    content: none;
}

.asale:hover {
    opacity: 1;
}

