
<div id="toast">

</div>
<div class="content-wrapper">
	<div class="page-header">
		<h3 class="page-title">
			<span class="page-title-icon bg-gradient-primary text-white me-2">
				<i class="mdi mdi-border-color"></i>
			</span> Chỉnh sửa danh mục sản phẩm
		</h3>
	</div>

	<div class="col-lg-12 grid-margin stretch-card">
		<div class="card">
			<div class="card-body">
				<div class="row">
					<div class="col-md-3">

						<div class="avatar-upload">
							<div class="avatar-edit">
								<label style="position: absolute; width: 212px; height: 212px; left: -4px; top: 40px; opacity: 0;"
									   for="upload"></label>
								<input id="upload" name="imgs files" type="file" accept=".png, .jpg, .jpeg" onchange="readURL(this); angular.element(this).scope().uploadfile(this.files);"  />

							</div>
							<div class="avatar-preview" style="right: 180px; top: 50px;">
								<img width="200px" height="200px" id="imageResult" src="/file/user/avata.jpg" ng-src="/file/Groupproduct/{{items.images}}">
								<label style="margin-top: 25px; margin-left: 26px;" for="upload">Upload ảnh danh mục</label>
							</div>
						</div>

					</div>
					<div class="col-md-9">
						<form class="form-sample" >

							<div class="row">
								<div class="col-md-6">
									<div class="form-group row">
										<label class="col-sm-3 col-form-label">Name</label>
										<div class="col-sm-9">
											<input ng-model="items.name" type="text" class="form-control" />
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group row">
										<label class="col-sm-3 col-form-label">Ngày Thêm</label>
										<div class="col-sm-9">
											<div class="form-control" >{{items.date}}</div>
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-6">
									<div class="form-group row">
										<label class="col-sm-3 col-form-label">Content</label>
										<div class="col-sm-9">
											<input ng-model="items.content" type="text" class="form-control" />
										</div>
									</div>
								</div>
							</div>

							<button type="button" id="newGroupProduct" ng-click="new(items)" class="btn btn-gradient-info btn-rounded btn-fw">
								<i class="mdi mdi-file-check btn-icon-prepend"></i>New</button>

							<button type="submit" id="updateGroupProduct"ng-click="update(items)"
									class="btn btn-gradient-success btn-rounded btn-fw">
								<i class="mdi mdi-content-save"></i>Update
							</button>

							<button type="button" ng-click="reset()"
									class="btn btn-gradient-warning btn-rounded btn-fw">
								<i class="mdi mdi-reload btn-icon-prepend"></i> Reset
							</button>

								<a href="/admin/groupproductlist" class="btn btn-gradient-primary btn-rounded btn-fw">
									<i class="mdi mdi-exit-to-app"></i> Cancel
								</a>

						</form>
					</div>

				</div>
			</div>
		</div>



	</div>

</div>