

<div class="content-wrapper">
	<div class="page-header">
		<h3 class="page-title">
			<span class="page-title-icon bg-gradient-primary text-white me-2">
				<i class="mdi mdi-border-color"></i>
			</span> Chỉnh sửa sản phẩm
		</h3>
	</div>

	<div class="col-lg-12 grid-margin stretch-card">
		<div class="card">
			<div class="card-body">

				<form class="form-sample" method="post"
					modelAttribute="product" enctype="multipart/form-data">

					<input path="id" ng-model="items.id" type="hidden" />

					<div class="row">
						<div class="col-md-6">
							<div class="form-group row">
								<label class="col-sm-3 col-form-label">Name</label>
								<div class="col-sm-9">
									<input ng-model="items.name" type="text" class="form-control" />
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group row">
								<label class="col-sm-3 col-form-label">Price</label>
								<div class="col-sm-9">
									<input  ng-model="items.price" type="text" class="form-control" />
								</div>
							</div>
						</div>
					</div>

					<div class="row">
						<div class="col-md-6">
							<div class="form-group row">
								<label class="col-sm-3 col-form-label">Date</label>
								<div class="col-sm-9">
									<input   type="text" class="form-control" />
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group row">
								<label class="col-sm-3 col-form-label">Sale</label>
								<div class="col-sm-9">
									<div class="input-group">
										<input ng-model="items.sale*100" min="0" step="5" max="100" type="number" class="form-control" >
										<div class="input-group-append">
											<span class="input-group-text bg-gradient-primary text-white" style="height: 49px">%</span>
										</div>
									</div>

								</div>
							</div>
						</div>
					</div>

					<div class="row">

						<div class="col-md-6">
							<div class="form-group row">
								<label class="col-sm-3 col-form-label">Group Product</label>
								<div class="col-sm-9">
									<select name="groups" class="form-control">
										<th:each var="group" items="${groupproduct}">
											<option value="${group.id}"></option>
										</th:each>
									</select>
								</div>
							</div>
						</div>
						<div class="col-md-6">
							<div class="form-group row">
								<label class="col-sm-3 col-form-label">Status</label>
								<div class="col-sm-4">
									<div class="form-check">
										<label class="form-check-label">
											<input type="radio"  checked="checked" class="form-check-input"
												   name="membershipRadios" id="membershipRadios1"
												   th:value="true" /> Hoạt Động
										</label>
									</div>
								</div>

								<div class="col-sm-5">
									<div class="form-check">
										<label class="form-check-label">
											<input type="radio"  class="form-check-input"
												   name="membershipRadios" id="membershipRadios2"
												   th:value="false" /> Tắc hoạt động
										</label>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="form-group">

						<div class="form-group">

							<label >Detail</label>
							<textarea ng-model="items.detail"  class="form-control" ></textarea>
						</div>
					</div>


					<button type="submit" formaction="/admin/product/update"
						class="btn btn-gradient-success btn-rounded btn-fw">
						<i class="mdi mdi-content-save"></i>Update
					</button>

					<button type="button"
						class="btn btn-gradient-warning btn-rounded btn-fw">
						<i class="mdi mdi-reload btn-icon-prepend"></i> Reset
					</button>
					<button type="submit" formaction="/admin/productlist"
						class="btn btn-gradient-primary btn-rounded btn-fw">
						<i class="mdi mdi-exit-to-app"></i> Cancel
					</button>

				</form>
			</div>
		</div>



	</div>

</div>