
<div id="toast">

</div>
<div class="content-wrapper">
	<div class="page-header">
		<h3 class="page-title">
			<span class="page-title-icon bg-gradient-primary text-white me-2">
				<i class="mdi mdi-border-color"></i>
			</span> Chỉnh sửa sản phẩm
		</h3>
	</div>

	<div class="col-lg-12 grid-margin stretch-card">
		<div class="card">
			<div class="card-body">
				<div class="row">
					<div class="col-md-3">

						<div class="avatar-upload">
							<div class="avatar-edit">
								<label style="position: absolute; width: 212px; height: 212px; left: -4px; top: 40px; opacity: 0;"
									   for="upload"></label>
								<input id="upload" type="file" onchange="readURL(this);" name="imgs" accept=".png, .jpg, .jpeg" />

							</div>
							<div class="avatar-preview" style="right: 180px; top: 50px;">
								<img width="200px" height="200px" id="imageResult"  >
								<label style="margin-top: 25px; margin-left: 26px;" for="upload">Ảnh Sản Phẩm</label>
							</div>
						</div>

					</div>
					<div class="col-md-9">
						<form class="form-sample" method="post"
							  modelAttribute="product" enctype="multipart/form-data">
							<input path="id" type="hidden" />
							<div class="row">
								<div class="col-md-6">
									<div class="form-group row">
										<label class="col-sm-3 col-form-label">Name</label>
										<div class="col-sm-9">
											<input ng-model="items.name" type="text" class="form-control" />
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group row">
										<label class="col-sm-3 col-form-label">Price</label>
										<div class="col-sm-9">
											<input ng-model="items.price" type="text" class="form-control" />
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-6">
									<div class="form-group row">
										<label class="col-sm-3 col-form-label">Amount</label>
										<div class="col-sm-9">
											<div  type="text" class="form-control">{{items.amount}}</div>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group row">
										<label class="col-sm-3 col-form-label">Sale</label>
										<div class="col-sm-9">
											<input ng-model="items.sale" min="0" step="0.1" max="1" type="number"
												   class="form-control" />
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-6">
									<div class="form-group row">
										<label class="col-sm-3 col-form-label">Ngày Thêm</label>
										<div class="col-sm-9">
											<div class="form-control" >{{items.date}}</div>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group row">
										<label class="col-sm-3 col-form-label">Status</label>
										<div class="col-sm-4">
											<div class="form-check">
												<label class="form-check-label">
													<input type="radio" ng-model="items.status" ng-checked="items.status==true"  class="form-check-input"
															name="membershipRadios" id="membershipRadios1" value="true" />
													Còn hàng
												</label>
											</div>
										</div>

										<div class="col-sm-5">
											<div class="form-check">
												<label class="form-check-label">
													<input type="radio" 	ng-model="items.status" 	class="form-check-input" ng-checked="items.status==false"
															name="membershipRadios" id="membershipRadios2" value="false" />
													Không còn hàng
												</label>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="form-group">

								<div class="form-group">

									<label >Detail</label>
									<textarea ng-model="items.detail"  class="form-control" ></textarea>
								</div>
							</div>
							<div class="row">
								<div class="form-group">
									<label >Group Product</label>

										<select  ng-model="items.groupProduct.id" ng-value="items.groupProduct.id" name="groups" class="form-control">
											<th:each th:each="group:${groupProduct}">
												<option th:value="${group.id}">[[${group.name}]]</option>
											</th:each>
										</select>

								</div>

							</div>

							<button type="button" id="newProduct" ng-click="new(items)" class="btn btn-gradient-info btn-rounded btn-fw">
								<i class="mdi mdi-file-check btn-icon-prepend"></i>New</button>

							<button type="submit" id="updateProduct"ng-click="update(items)"
									class="btn btn-gradient-success btn-rounded btn-fw">
								<i class="mdi mdi-content-save"></i>Update
							</button>

							<button type="button" ng-click="reset()"
									class="btn btn-gradient-warning btn-rounded btn-fw">
								<i class="mdi mdi-reload btn-icon-prepend"></i> Reset
							</button>

								<a href="/admin/productlist" class="btn btn-gradient-primary btn-rounded btn-fw">
									<i class="mdi mdi-exit-to-app"></i> Cancel
								</a>

						</form>
					</div>

				</div>
			</div>
		</div>



	</div>

</div>