

<div id="toast">

</div>
<div class="content-wrapper">
	<div class="page-header">
		<h3 class="page-title">
			<span class="page-title-icon bg-gradient-primary text-white me-2">
				<i class="mdi mdi-border-color"></i>
			</span> Chỉnh sửa sản phẩm
		</h3>
	</div>

	<div class="col-lg-12 grid-margin stretch-card">
		<div class="card">
			<div class="card-body">
				<div class="row">
					<div class="col-md-3">

						<div class="avatar-upload" style="height: 250px;">
							<div style="text-align: center"><label style="margin-left: 26px;">Ảnh Sản Phẩm</label></div>
							<div class="avatar-edit">
								<label id="upf" style="position: absolute; width: 212px; height: 212px; left: 24px; top: 16px; opacity: 0;" for="upload"></label>
								<input id="upload" type="file" onchange="readURL(this);" name="imgs" accept=".png, .jpg, .jpeg" />
							</div>
							<div class="avatar-preview" style="right: 180px; top: 10px;">
								<img width="200px" height="200px" id="imageResult" src='/file/user/avata.jpg' >
							</div>
						</div>
						<div style="margin-bottom: 10px;  text-align: center;">
							<button  class="dimg btn btn-gradient-danger btn-rounded btn-fw" id="dimg" ng-click="Removed()">
								<i class="mdi mdi-delete-forever"></i>
								Xoá Ảnh
								<span id="ids"><span>
							</button>
						</div>
						<div class="images">
							<div>
								<img ng-if="items.imgs[0] != undefined" onclick="load(this,0)" src="/file/AnhWebBanHang/{{items.imgs[0].image}}" id="imageResult0">
								<img ng-if="items.imgs[0] == undefined" onclick="load(this,0)" src="/assets/images/plus.png" id="imageResult0">
								<label>Ảnh 1</label>
							</div>
							<div>
								<img ng-if="items.imgs[1] != undefined" onclick="load(this,1)" src="/file/AnhWebBanHang/{{items.imgs[1].image}}" id="imageResult1">
								<img ng-if="items.imgs[1] == undefined" onclick="load(this,1)" src="/assets/images/plus.png" id="imageResult1">
								<label>Ảnh 2</label>
							</div>
							<div>
								<img ng-if="items.imgs[2] != undefined" onclick="load(this,2)" src="/file/AnhWebBanHang/{{items.imgs[2].image}}" id="imageResult2">
								<img ng-if="items.imgs[2] == undefined" onclick="load(this,2)" src="/assets/images/plus.png" id="imageResult2">
								<label>Ảnh 3</label>
							</div>
						</div>
						<div class="images" >
							<div>
								<img ng-if="items.imgs[3] != undefined" onclick="load(this,3)" src="/file/AnhWebBanHang/{{items.imgs[3].image}}" id="imageResult3">
								<img ng-if="items.imgs[3] == undefined" onclick="load(this,3)" src="/assets/images/plus.png" id="imageResult3">
								<label>Ảnh 4</label>
							</div>
							<div>
								<img ng-if="items.imgs[4] != undefined" onclick="load(this,4)" src="/file/AnhWebBanHang/{{items.imgs[4].image}}" id="imageResult4">
								<img ng-if="items.imgs[4] == undefined" onclick="load(this,4)" src="/assets/images/plus.png" id="imageResult4">
								<label>Ảnh 5</label>
							</div>
							<div>
								<img ng-if="items.imgs[5] != undefined" onclick="load(this,5)" src="/file/AnhWebBanHang/{{items.imgs[5].image}}" id="imageResult5">
								<img ng-if="items.imgs[5] == undefined" onclick="load(this,5)" src="/assets/images/plus.png" id="imageResult5">
								<label>Ảnh 6</label>
							</div>
						</div>

					</div>
					<div class="col-md-9">
						<form class="form-sample" method="post"
							  modelAttribute="product" enctype="multipart/form-data">

							<div class="row">
								<div class="col-md-6">
									<div class="form-group row">
										<label class="col-sm-3 col-form-label">Name</label>
										<div class="col-sm-9">
											<input ng-model="items.name" type="text" class="form-control" />
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group row">
										<label class="col-sm-3 col-form-label">Price</label>
										<div class="col-sm-9">
											<input ng-model="items.price" type="text" class="form-control" />
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-6">
									<div class="form-group row">
										<label class="col-sm-3 col-form-label">Amount</label>
										<div class="col-sm-9">
											<input ng-model="items.amount" min="0" type="number"
												   class="form-control" />
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group row">
										<label class="col-sm-3 col-form-label">Sale</label>
										<div class="col-sm-9">
											<input ng-model="items.sale" min="0" step="0.1" max="1" type="number"
												   class="form-control" />
										</div>
									</div>
								</div>
							</div>

							<div class="row">
								<div class="col-md-6">
									<div class="form-group row">
										<label class="col-sm-3 col-form-label">Ngày Thêm</label>
										<div class="col-sm-9">
											<div class="form-control" >{{items.date}}</div>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group row">
										<label class="col-sm-3 col-form-label">Status</label>
										<div class="col-sm-4">
											<div class="form-check">
												<label class="form-check-label">
													<input type="radio" ng-model="items.status" ng-checked="items.status==true"  class="form-check-input"
															name="membershipRadios" id="membershipRadios1" value="true" />
													Còn hàng
												</label>
											</div>
										</div>

										<div class="col-sm-5">
											<div class="form-check">
												<label class="form-check-label">
													<input type="radio" 	ng-model="items.status" 	class="form-check-input" ng-checked="items.status==false"
															name="membershipRadios" id="membershipRadios2" value="false" />
													Không còn hàng
												</label>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="form-group">

								<div class="form-group">

									<label >Detail</label>
									<textarea ng-model="items.detail"  class="form-control" ></textarea>
								</div>
							</div>
							<div class="row">
								<div class="form-group">
									<label >Group Product</label>

										<select  ng-model="items.groupProduct.id" ng-value="items.groupProduct.id" name="groups" class="form-control">
											<th:each th:each="group:${groupProduct}">
												<option th:value="${group.id}">[[${group.name}]]</option>
											</th:each>
										</select>

								</div>

							</div>

							<button type="button" id="newProduct" ng-click="new(items)" class="btn btn-gradient-info btn-rounded btn-fw">
								<i class="mdi mdi-file-check btn-icon-prepend"></i>New</button>

							<button type="submit" id="updateProduct"ng-click="update(items)"
									class="btn btn-gradient-success btn-rounded btn-fw">
								<i class="mdi mdi-content-save"></i>Update
							</button>

							<button type="button" ng-click="reset()"
									class="btn btn-gradient-warning btn-rounded btn-fw">
								<i class="mdi mdi-reload btn-icon-prepend"></i> Reset
							</button>

								<a href="/admin/productlist" class="btn btn-gradient-primary btn-rounded btn-fw">
									<i class="mdi mdi-exit-to-app"></i> Cancel
								</a>

						</form>
					</div>

				</div>
			</div>
		</div>



	</div>

</div>