
<div id="toast"></div>
<div class="content-wrapper">
	<div class="page-header">
		<h3 class="page-title">
			<span class="page-title-icon bg-gradient-primary text-white me-2">
				<i class="mdi mdi-border-color"></i>
			</span> Chỉnh sửa người dùng
		</h3>
	</div>

	<div class="col-lg-12 grid-margin stretch-card">
		<div class="card">
			<div class="card-body">

				<form class="form-sample" >

					<div class="row">
						<div class="col-md-3">

							<div class="avatar-upload">
								<div class="avatar-edit">
									<label style="position: absolute; width: 212px; height: 212px; left: -4px; top: 40px; opacity: 0;"
										for="upload"></label>
									<input id="upload" name="imgs files" type="file" accept=".png, .jpg, .jpeg" onchange="readURL(this); angular.element(this).scope().uploadfile(this.files);"  />

								</div>
								<div class="avatar-preview" style="right: 180px; top: 50px;">
									<img width="200px" height="200px" id="imageResult"  src="/file/user/{{item.img}}">
									<label style="margin-top: 25px; margin-left: 26px;" for="upload">Upload ảnh đại diện</label>
								</div>
							</div>

						</div>
						<div class="col-md-9">

							<div class="row">
								<div class="col-md-6">
									<div class="form-group row">
										<label class="col-sm-3 col-form-label">User Name</label>
										<div class="col-sm-9">
											<span class="form-control">{{item.username}}</span>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group row">
										<label class="col-sm-3 col-form-label">Full Name</label>
										<div class="col-sm-9">
											<input ng-model="item.cutomer.name" type="text" class="form-control" />
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group row">
										<label class="col-sm-3 col-form-label">Gmail</label>
										<div class="col-sm-9">
											<input ng-model="item.email" type="email" class="form-control" />
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group row">
										<label class="col-sm-3 col-form-label">PassWord</label>
										<div class="col-sm-9">

											<input type="text" ng-model="item.password" minlength="8"
												class="form-control" />
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group row">
										<label class="col-sm-3 col-form-label">Gender</label>
										<div class="col-sm-9">
											<select ng-model="item.cutomer.sex" class="form-control">
												<option value="Male">Male</option>
												<option value="Female"> Female</option>
											</select>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group row">
										<label class="col-sm-3 col-form-label">Role</label>
										<div class="col-sm-9">

											<select ng-model="item.role" class="form-control">
												<option value="ROLE_ADMIN">Admin</option>
												<option value="ROLE_GUEST">Người dùng</option>
											</select>
										</div>
									</div>
								</div>
							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group row">
										<label class="col-sm-3 col-form-label">Tỉnh / Thành phố</label>
										<div class="col-sm-9">
											<select id="provin" class="form-control" name="calc_shipping_provinces" required="">
												<option value="">Tỉnh / Thành phố</option>
											</select>
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group row">
										<label class="col-sm-3 col-form-label">Quận / Huyện</label>
										<div class="col-sm-9">
											<select class="form-control" name="calc_shipping_district" required="">
												<option value="">Quận / Huyện</option>
											</select>
										</div>
									</div>
								</div>
								<input class="billing_address_1" id="address_1" name="provinces" type="hidden" value="">
								<input class="billing_address_2" id="address_2" name="district" type="hidden" value="">

							</div>
							<div class="row">
								<div class="col-md-6">
									<div class="form-group row">
										<label class="col-sm-3 col-form-label">Date of Birth</label>
										<div class="col-sm-9">
											<input ng-value="item.cutomer.birthday" id="DateofBirth" type="date" class="form-control" />
										</div>
									</div>
								</div>
								<div class="col-md-6">
									<div class="form-group row">
										<label class="col-sm-3 col-form-label">Status</label>
										<div class="col-sm-4">
											<div class="form-check">
												<label class="form-check-label"> 
												<input type="radio" ng-model="item.status" ng-checked="item.status==true" class="form-check-input"
														name="membershipRadios" id="membershipRadios1"
														value="true" /> Hoạt Động
												</label>
											</div>
										</div>

										<div class="col-sm-5">
											<div class="form-check">
												<label class="form-check-label"> 
												<input type="radio" ng-model="item.status" ng-checked="item.status==false" class="form-check-input"
														name="membershipRadios" id="membershipRadios2"
														value="false" /> Không hoạt động
												</label>
											</div>
										</div>
									</div>
								</div>
							</div>
							<div class="form-group">

								<div class="form-group">

									<label >Address</label>
									<textarea ng-model="item.cutomer.address"  class="form-control" ></textarea>
								</div>
							</div>
						</div>
					</div>

					<button ng-click="update(item)" type="submit" formaction="/admin/user/update"
						class="btn btn-gradient-success btn-rounded btn-fw">
						<i class="mdi mdi-content-save"></i>Update
					</button>

					<button type="button" ng-click="reset()"
						class="btn btn-gradient-warning btn-rounded btn-fw">
						<i class="mdi mdi-reload btn-icon-prepend"></i> Reset
					</button>
					<button type="submit"
						class="btn btn-gradient-primary btn-rounded btn-fw">
						<a href="/admin/userlist" style="color: white;text-decoration: none">
							<i class="mdi mdi-exit-to-app"></i> Cancel
						</a>
					</button>

				</form>
			</div>
		</div>



	</div>

</div>