<div id="toast"></div>
<div class="content-wrapper">
	<div class="page-header">
		<h3 class="page-title">
			<span class="page-title-icon bg-gradient-primary text-white me-2">
				<i class="mdi mdi-account-card-details"></i>
			</span> Order Tables
		</h3>
	</div>
	<div class="row">

		<div class="col-lg-12 grid-margin stretch-card">
			<div class="card">
				<div class="card-body">
					<div id="page-content-wrapper">
      <!-- Top navigation-->
      <ul class="nav nav__tabs" role="tablist">
        <li class="nav__item">
          <a class="nav-link active" href="#wait_xn" role="tab" data-toggle="tab">Chờ xác nhận</a>
        </li>
        <li class="nav__item">
          <a class="nav-link" href="#wait_lh" role="tab" data-toggle="tab">Chờ lấy hàng</a>
        </li>
        <li class="nav__item">
          <a class="nav-link" href="#Danggiao" role="tab" data-toggle="tab">Đang giao</a>
        </li>
        <li class="nav__item">
          <a class="nav-link" href="#Dagiao" role="tab" data-toggle="tab">Đã giao</a>
        </li>
        <li class="nav__item">
          <a class="nav-link" href="#Dahuy" role="tab" data-toggle="tab">Đã Hủy</a>
        </li>

      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade active show" id="wait_xn">
          <div ng-repeat="item in orderlist | filter : {status:1}" class="info-product">
            <div class="status d-flex">
              <div class="name"><i class="fa fa-shopping-basket" aria-hidden="true"></i><b>Mã đơn: {{item.id}}</b></div>
              <div class="name"><b>Tên khách hàng: {{item.cutomer.name}}</b></div>
              <button class="btn btn-success ml-auto p-2" ng-click="statusUpdate(item.id,2)">{{status[item.status].status}}</button>
            </div>
            <div  class="product" ng-repeat="p in orderdetail | filter: { order: { id : item.id } }:true">
            	<img src="/file/AnhWebBanHang/{{p.product.imgs[0].image}}" alt="">
              <ul class="phanloai" >
                  {{p.order.id}}
                <li>Sản phẩm: Sản phẩm: {{p.product.name}}  </li>
                <li>Loại: {{p.product.groupProduct.name}}</li>
                <li>Số lượng: {{p.quantity}}</li>
                <li>Số tiền: {{p.quantity*p.product.price*(1-p.product.sale)}}</li>
              </ul>

            </div>
            <div class="price0">
              <div class="price " >
                <div class="price1 ">Tổng số tiền :</div>
                <div class="price2">{{item.totalmoney}}</div>
              </div>
            </div>
            
          </div>
        </div>
        
        <div role="tabpanel" class="tab-pane fade" id="wait_lh">
          <div ng-repeat="item in orderlist | filter : {status:2}" class="info-product">
            <div class="status d-flex">
              <div class="name"><i class="fa fa-shopping-basket" aria-hidden="true"></i><b>Mã đơn: {{item.id}}</b></div>
              <div class="name"><b>Tên khách hàng: {{item.cutomer.name}}</b></div>
              <button class="btn btn-success ml-auto p-2" ng-click="statusUpdate(item.id,3)">{{status[item.status].status}}</button>

            </div>

             <div  class="product" ng-repeat="p in orderdetail | filter : { order: { id : item.id } }">
            	<img src="/file/AnhWebBanHang/{{p.product.imgs[0].image}}" alt="">
             <ul class="phanloai" >
                <li>Sản phẩm: Sản phẩm: {{p.product.name}}  </li>
                <li>Loại: {{p.product.groupProduct.name}}</li>
                <li>Số lượng: {{p.quantity}}</li>
                <li>Số tiền: {{p.quantity*p.product.price*(1-p.product.sale)}}</li>
              </ul>
             
            </div>
            <div class="price0">
              <div class="price " >
                <div class="price1 ">Tổng số tiền :</div>
                <div class="price2">{{item.totalmoney}}</div>
              </div>
            </div>
           
           
          </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="Danggiao">
          <div ng-repeat="item in orderlist | filter : {status:3}" class="info-product">
            <div class="status d-flex">
             <div class="name"><i class="fa fa-shopping-basket" aria-hidden="true"></i><b>Mã đơn: {{item.id}}</b></div>
              <div class="name"><b>Tên khách hàng: {{item.cutomer.name}}</b></div>
              <button class="btn btn-success ml-auto p-2" ng-click="statusUpdate(item.id,4)">{{status[item.status].status}}</button>

            </div>
             <div  class="product" ng-repeat="p in orderdetail | filter : { order: { id : item.id } }">
            	<img src="/file/AnhWebBanHang/{{p.product.imgs[0].image}}" alt="">
              <ul class="phanloai" >
                <li>Sản phẩm: Sản phẩm: {{p.product.name}}  </li>
                <li>Loại: {{p.product.groupProduct.name}}</li>
                <li>Số lượng: {{p.quantity}}</li>
                <li>Số tiền: {{p.quantity*p.product.price*(1-p.product.sale)}}</li>
              </ul>

            </div>
            <div class="price0">
              <div class="price " >
                <div class="price1 ">Tổng số tiền :</div>
                <div class="price2">{{item.totalmoney}}</div>
              </div>
            </div>
           
           
          </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="Dagiao">
          <div ng-repeat="item in orderlist | filter : {status:4}" class="info-product">
            <div class="status d-flex">
              <div class="name"><i class="fa fa-shopping-basket" aria-hidden="true"></i><b>Mã đơn: {{item.id}}</b></div>
              <div class="name"><b>Tên khách hàng: {{item.cutomer.name}}</b></div>
              <span class="ml-auto p-2">{{status[item.status].status}}</span>

            </div>
            <div  class="product" ng-repeat="p in orderdetail | filter : { order: { id : item.id } }">
            	<img src="/file/AnhWebBanHang/{{p.product.imgs[0].image}}" alt="">
             <ul class="phanloai" >
                <li>Sản phẩm: Sản phẩm: {{p.product.name}}  </li>
                <li>Loại: {{p.product.groupProduct.name}}</li>
                <li>Số lượng: {{p.quantity}}</li>
                <li>Số tiền: {{p.quantity*p.product.price*(1-p.product.sale)}}</li>
              </ul>

            </div>
            <div class="price0">
              <div class="price " >
                <div class="price1 ">Tổng số tiền :</div>
                <div class="price2">{{item.totalmoney}}</div>
              </div>
            </div>
           
           
            </div>
          </div>
        <div role="tabpanel" class="tab-pane fade" id="Dahuy">
          <div ng-repeat="item in orderlist | filter : {status:5}" class="info-product">
            <div class="status d-flex">
              <div class="name"><i class="fa fa-shopping-basket" aria-hidden="true"></i><b>Mã đơn: {{item.id}}</b></div>
              <div class="name"><b>Tên khách hàng: {{item.cutomer.name}}</b></div>
              <span class="ml-auto p-2">{{status[item.status].status}}</span>

            </div>
             <div  class="product" ng-repeat="p in orderdetail | filter : { order: { id : item.id } }">
            	<img src="/file/AnhWebBanHang/{{p.product.imgs[0].image}}" alt="">
              <ul class="phanloai" >
                <li>Sản phẩm: Sản phẩm: {{p.product.name}}  </li>
                <li>Loại: {{p.product.groupProduct.name}}</li>
                <li>Số lượng: {{p.quantity}}</li>
                <li>Số tiền: {{p.quantity*p.product.price*(1-p.product.sale)}}</li>
              </ul>

            </div>
            <div class="price0">
              <div class="price " >
                <div class="price1 ">Tổng số tiền :</div>
                <div class="price2">{{item.totalmoney}}</div>
              </div>
            </div>
            
            
          </div>
        </div>
      </div>
    </div>
				</div>
			</div>
		</div>

	</div>
</div>


