
<div class="content-wrapper">
	<div class="page-header">
		<h3 class="page-title">
			<span class="page-title-icon bg-gradient-primary text-white me-2">
				<i class="mdi mdi-account-card-details"></i>
			</span> User Tables
		</h3>
	</div>
	<div class="row">

		<div class="col-lg-12 grid-margin stretch-card">
			<div class="card">
				<div class="card-body">
					User Table
					
					<table class="table table-hover">
						<thead>
							<tr>
								<th>#</th>
								<th>IMG</th>
								<th>User</th>
								<th>Full name</th>
								<th>Birthday</th>
								<th>Rule</th>
								<th>Status</th>
								<th><i class="mdi mdi-border-color"></i></th>
							</tr>
						</thead>
						<tbody>

								<tr ng-repeat="item in items">
									<td>{{$index+1}}</td>
									<td class="py-1"><img style="object-fit: cover;"
										src="/file/user/{{item.img}}"
										alt="image" /></td>
									<td>{{item.username}}</td>
									<td>{{item.cutomer.name}}</td>
									<td>{{item.cutomer.birthday}}</td>
									<td >
										<span ng-if ="item.role == 'ROLE_ADMIN'">Admin</span>
										<span ng-if ="item.role != 'ROLE_ADMIN'">Người dùng</span>
									</td>
									<td >

										<span ng-if="item.status==true">
											<div class="form-check form-check-success">
												<label class="form-check-label"> <input
													type="radio" class="form-check-input" id="ExampleRadio2"
													checked=""> <i class="input-helper"></i></label>
											</div>
										</span>
										<span ng-if="item.status==false">
												<div class="form-check form-check-danger">
													<label class="form-check-label"> <input
														type="radio" class="form-check-input" id="ExampleRadio4"
														checked=""> <i class="input-helper"></i></label>
												</div>
										</span>
									</td>

									<td><a href="/admin/user/edit/user={{item.id}}">Edit</a>
								</tr>

						</tbody>
					</table>
				</div>
			</div>
		</div>

	</div>
</div>


