


<div class="content-wrapper">
	<div class="page-header">
		<h3 class="page-title">
			<span class="page-title-icon bg-gradient-primary text-white me-2">
				<i class="mdi mdi-cart"></i>
			</span> Group Product Tables
		</h3>

	</div>

	<div class="grid-margin stretch-card">
		<div class="card">
			<div class="card-body">
				<div style=" float: flex; margin-bottom: 40px;">
					<a href="/admin/groupproduct/edit">
						<button type="button" class="btn btn-gradient-info btn-rounded btn-fw" style="  right: 0px;float: right; margin-bottom: 0px;">
						<i class="mdi mdi-file-check btn-icon-prepend"></i>New</button>
					</a>
				</div>

				<table class="table table-hover">
					<thead>
						<tr>
							<th>#</th>
							<th>Image</th>
							<th>Name</th>
							<th>Date</th>
							<th>Status</th>
							<th><i class="mdi mdi-border-color"></i></th>
						</tr>
					</thead>
					<tbody>

							<tr ng-repeat="item in items">
								<td>{{$index+1}}</td>
								<td class="py-1">
									<img style="object-fit: cover;" src="/file/Groupproduct/{{item.images}}" alt="image" />
								</td>
								<td>{{item.name}}</td>
								<td>{{item.date}}</td>
								<td >

                                    <span ng-if="item.status==true">
                                        <div class="form-check form-check-success">
                                            <label class="form-check-label"> <input
                                                    type="radio" class="form-check-input" id="ExampleRadio2"
                                                    checked=""> <i class="input-helper"></i></label>
                                        </div>
                                    </span>
                                    <span ng-if="item.status==false">
                                            <div class="form-check form-check-danger">
                                                <label class="form-check-label"> <input
                                                        type="radio" class="form-check-input" id="ExampleRadio4"
                                                        checked=""> <i class="input-helper"></i></label>
                                            </div>
                                    </span>
								</td>
								<td><a href="/admin/groupproduct/edit/{{item.id}}">Edit</a></td>
							</tr>

					</tbody>
				</table>
			</div>
		</div>
	</div>

</div>