

<header class="head" style="height: 130px; ">

  <!-- tren cung -->
  <div class="row">
    <div class="col-sm-3"></div>


  </div>


  <div class="row giua" style="margin-top: 13px;">

    <div class="col-sm-3 row" style="top: -20px;">
      <div class="col-sm-9">
        <a href="/product/index">
          <img src="/assets/images/favicon.png" alt="" style="position: absolute; width: 120px;  margin-left: 60px;">
        </a>
      </div>
      <div class="col-sm-3 menu" style="top: 40px;">
        <div onmouseover="hienthi()" onmouseout="an()" style="height: 72px; width: 97px; padding: 3px;">
          <div>


          </div>

        </div>
        <div id="danhmucspkp" style="display: none;" class="fhs_dropdown_cover"></div>
      </div>
    </div>


    <div class="col-sm-5">

      <!-- search -->
      <form class="form" action=""  >
        <input type="text" class="ser" placeholder="Tìm kiếm sản phẩm mong muốn...">

        <span  class="tim" data-toggle="modal" data-target="#sear">
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="icon-tim"
                 viewBox="0 0 16 16">
              <path
                      d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z" />
            </svg>
          </span>
      </form>



      <div class="modal fade" id="sear" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
           aria-hidden="true">


      </div>

    </div>


    <div class="col-sm-4 row to" style="top: -32px;">

      <!-- account -->
      <div class="col-sm-3">

        <div class="gio">
          <a style="color: white;" href="#" class="dropdown-toggle" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-person"
                 viewBox="0 0 16 16">
              <path
                      d="M8 8a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm2-3a2 2 0 1 1-4 0 2 2 0 0 1 4 0zm4 8c0 1-1 1-1 1H3s-1 0-1-1 1-4 6-4 6 3 6 4zm-1-.004c-.001-.246-.154-.986-.832-1.664C11.516 10.68 10.289 10 8 10c-2.29 0-3.516.68-4.168 1.332-.678.678-.83 1.418-.832 1.664h10z" />
            </svg>
            <div class="cc" style="margin-top: 8px;color: white;">Tài Khoản</div>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              <div>
                <div th:unless="${#request.getRemoteUser()}">
                  <a class="dropdown-item" href="/account/signin">Đăng ký/Đăng nhập</a>
                  <a class="dropdown-item" href="/account/forgetpass">Quên mật khẩu</a>
                </div>
                <div th:if="${#request.getRemoteUser()}">
                  <div th:if="${#request.isUserInRole('ADMIN')}">
                    <a class="dropdown-item" href="/admin/index">Admin</a>
                  </div>
                  <a class="dropdown-item" href="/accounts/changinformation">Thông tin cá nhân</a>
                  <a class="dropdown-item" href="/accounts/orderstatus">Đơn mua</a>
                  <a class="dropdown-item" href="/account/changepass">Đổi mật khẩu</a>
                  <a class="dropdown-item" href="/account/logoff">Đăng xuất</a>
                </div>
              </div>
            </div>
          </a>
        </div>

      </div>

      <!-- Thong bao -->
      <div class="col-sm-3">
        <a href="#">
          <div class="gio">
            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-bell"
                 viewBox="0 0 16 16">
              <path
                      d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z" />
            </svg>
            <span class="badge tn">9</span>
            <div class="cc" style="margin-top: 8px;color: white;">Thông Báo</div>
          </div>
        </a>
      </div>

      <!-- cart -->
      <div class="col-sm-3 dropleft">
        <a href="/accounts/cart" class="gio dropdown-toggle" >
          <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-cart3"
               viewBox="0 0 16 16">
            <path
                    d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z" />
          </svg>
          <span class="badge tn">[[${amountcart}]]</span>
          <div class="cc" style="margin-top: 8px;color: white;">Giỏ Hàng</div>
        </a>
      </div>

    </div>































  </div>



  </div>
</header>
