
<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link rel="stylesheet" type="text/css" href="/assets/css/passmabaomat.css">
</head>
<body>
	<div class="_4-u5 _30ny" style="margin-top: 196px;">
		<form method="post" action="/account/confirm" onsubmit="" id="u_0_a_10">
			
			<div class="mvl ptm uiInterstitial _9np_ uiInterstitialLarge uiBoxWhite">
				<div class="uiHeader uiHeaderBottomBorder mhl mts uiHeaderPage interstitialHeader">
					<div class="clearfix uiHeaderTop">
						
						<div><h2 class="uiHeaderTitle" aria-hidden="true">Nhập mã bảo mật</h2></div>
					</div>
				</div>
				<div class="phl ptm uiInterstitialContent">
				
					<div class="_9nq2 marginBottom20px">Vui lòng kiểm tra mã trong email của bạn. Mã này gồm 6 số.</div>
					<div class="clearfix">
						<div class="_9o1z">
							<input style="margin-top: 3px;" type="text" class="inputtext _9o1w _9o1_" name="capcha" id="recovery_code_entry" placeholder="Nhập mã" aria-label="Nhập mã">
						</div>
						<div class="_9o1-">
							<div class="_9o1x marginBottom10px">Chúng tôi đã gửi cho bạn mã đến:</div>
							<div class="_9o1y"><div>[[${email}]]</div></div>
						</div>
					</div>
					<div class="mvm" style="color: red;">[[${message }]]</div>
				</div>
				<div class="hu uiInterstitialBar uiBoxGray topborder" style="margin-bottom: 11px; margin-bottom: 19px;">
					<div class="clearfix uu">
							<div class="rfloat _ohf">
								<a role="button" class="_42ft _4jy0 _9nq1 textPadding20px _4jy3 _517h _51sy" name="reset_action" href="/product/index">Hủy</a>
								<button  value="1" class="_42ft _4jy0 _9nq0 textPadding20px _4jy3 _4jy1 selected _51sy" name="reset_action" type="submit">Tiếp tục</button>
							</div>
							<div class="pts" style="height: 30px;margin-top: -34px; margin-left: 10px"><a class="_9o1v" >Bạn chưa có mã?</a>
							</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	</body>
</html>