<html xmlns:th="http://www.thymeleaf.org" >
<head>
  <title>Đổi thông tin khách hàng</title>
  <link rel="shortcut icon" href="/assets/images/favicon.png" />
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet"
        href="/assets/vendors/mdi/css/materialdesignicons.min.css">
  <link rel="stylesheet" href="/assets/vendors/css/vendor.bundle.base.css">
  <!-- Popper JS -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
  <!-- Latest compiled JavaScript -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>

  <link rel="stylesheet" href="/assets/css/style.css">

  <link rel="stylesheet" href="/assets/css/buttonUpload.css">


  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">

  <!-- CSS -->
  <link rel="stylesheet" href="/assets/css/sach.css">
  <link rel="stylesheet" href="/assets/css/alter.css">


  <link rel="stylesheet" href="/assets/css/orderstatus.css">
  <link rel="stylesheet" href="/assets/css/sach.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


  <style>
    .form-group .form-control {
      padding: 0.4375rem 0.75rem !important;
    }
    .border-end{

      border-right: 0px !important;

    }
  </style>

</head>

<body  class="boody" id="boody">


<!-- header -->
<div th:replace="~{/partials/header.html}"></div>
<div id="toast"></div>

<div style="display: flex" >
    <!-- Sidebar-->
    <div class="border-end " style="width: 208px !important;margin-left: 75px;margin-top: 35px;" id="sidebar-wrapper">
      <div class="av">
        <div class="shop-avatar">
          <img th:src="@{|/file/user/${session.users.img}|}" alt="">
        </div>
        <div>
          <div class="tt">[[${session.users.username}]]</div>
          <a class="hoso" href="/account/changinformation"><i class="fa fa-pencil" aria-hidden="true"></i> Sửa hồ sơ</a>
        </div>
      </div>
      <div class="list-group list-group-flush">

        <a class="list-group-item list-group-item-action list-group-item-light p-3" style="color: #ee4d2d !important;" >
          <i class="fa fa-user" aria-hidden="true"></i>Tài khoản của tôi</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/account/orderstatus"><i
                class="fa fa-list-alt" aria-hidden="true"></i>Đơn mua</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">
          <i class="fa fa-bell"   aria-hidden="true"></i>Thông báo</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!"></a>
      </div>
    </div>
    <!-- Page content wrapper-->
    <div class="content-wrapper" id="sidebar-wrapper" style="padding: 33px 0px;">
        <div class="col-lg-11 grid-margin stretch-card">
          <div class="card" style="margin: 0px;">
            <div class="card-body">

              <form  class="form-sample" method="post"
                     th:object="${edituser}" enctype="multipart/form-data">
                <input th:field="*{iduser}" type="hidden" />
                <input th:field="*{idcutomer}" type="hidden" />
                <input th:field="*{username}" type="hidden" />
                <div class="row">
                  <div class="col-md-3">

                    <div class="avatar-upload">

                      <div class="avatar-edit">
                        <label
                                style="position: absolute; width: 212px; height: 212px; left: -4px; top: 40px; opacity: 0;"
                                for="upload"></label> <input id="upload" type="file"
                                                             onchange="readURL(this);" name="imgs"
                                                             accept=".png, .jpg, .jpeg" />

                      </div>
                      <div class="avatar-preview" style="right: 180px; top: 50px;">
                        <img width="200px" height="200px" id="imageResult"
                             th:src="@{|/file/user/*{img}|}">
                        <label style="margin-top: 25px; margin-left: 26px;" for="upload">Upload
                          ảnh đại diện</label>
                      </div>
                    </div>

                  </div>
                  <div class="col-md-9">

                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label">User Name</label>
                          <div class="col-sm-9">
                            <div class="form-control">[[*{user.username}]]</div>
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label">Full Name</label>
                          <div class="col-sm-9">
                            <input th:field="*{name}" type="text" class="form-control" />
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label">Gmail</label>
                          <div class="col-sm-9">
                            <input th:field="*{email}" type="email" class="form-control" />
                          </div>
                        </div>
                      </div>

                    </div>
                    <div class="row">

                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label">Tỉnh / Thành phố </label>
                          <div class="col-sm-9">

                            <select  id="provin" class="form-control" name="calc_shipping_provinces" required="">

                              <option value="">Tỉnh / Thành phố</option>

                            </select>
                          </div>
                        </div>


                      </div>
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label">Quận / Huyện </label>
                          <div class="col-sm-9">

                            <select class="form-control" name="calc_shipping_district" required="">

                              <option value="">Quận / Huyện</option>

                            </select>

                          </div>
                        </div>

                      </div>

                      <input class="billing_address_1" id="address_1" name="provinces" type="hidden" th:value="${edituser.provinces }">
                      <input class="billing_address_2" id="address_2" name="district" type="hidden" th:value="${edituser.district }">
                    </div>
                    <div class="row">
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label">Date of Birth</label>
                          <div class="col-sm-9">
                            <input th:field="*{birthday}" type="date" class="form-control" />
                          </div>
                        </div>
                      </div>
                      <div class="col-md-6">
                        <div class="form-group row">
                          <label class="col-sm-3 col-form-label">Sex</label>
                          <div class="col-sm-4">
                            <div class="form-check">
                              <label class="form-check-label">
                                <input type="radio"
                                       th:field="*{sex}" checked="checked" class="form-check-input"
                                       name="membershipRadios" id="membershipRadios1"
                                       th:value="Male" /> Male
                              </label>
                            </div>
                          </div>

                          <div class="col-sm-5">
                            <div class="form-check">
                              <label class="form-check-label">
                                <input type="radio"
                                       th:field="*{sex}" class="form-check-input"
                                       name="membershipRadios" id="membershipRadios2"
                                       th:value="Female" /> Female
                              </label>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="form-group">
                      <label FOR="exampleTextarea1">Address</label>
                      <textarea th:field="*{address}" class="form-control"
                                id="exampleTextarea1" rows="4" ></textarea>
                    </div>
                  </div>

                </div>


                <button type="submit" formaction="/account/user/update"
                        class="btn btn-gradient-success btn-rounded btn-fw">
                  <i class="mdi mdi-content-save"></i>Update
                </button>
                <button type="submit" formaction="/account/changinformation"
                        class="btn btn-gradient-warning btn-rounded btn-fw">
                  <i class="mdi mdi-reload btn-icon-prepend"></i> Reset
                </button>
                <button type="submit" formaction="/product/index"
                        class="btn btn-gradient-primary btn-rounded btn-fw">
                  <i class="mdi mdi-exit-to-app"></i> Cancel
                </button>
              </form>
            </div>
          </div>
        </div>


    </div>
    <!-- Page content-->

  </div>




<!-- footer -->
<div th:replace="/partials/footer.html"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="/js/quanhuyen.js"></script>
<script src="/js/procvince.js"></script>
<script src="/js/uploatfile.js"></script>


<script src="/assets/vendors/js/vendor.bundle.base.js"></script>
<script src="/assets/js/misc.js"></script>


</body>

</html>