
<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
<meta charset="UTF-8">
<title>Đổi mật khẩu</title>

<link rel="stylesheet" type="text/css" href="/assets/css/passmabaomat.css">

</head>
<body>
	<div class="_4-u5 _30ny">
		<form class="_9vtf" data-testid="royal_login_form" action="/account/changepassuser" method="post" onsubmit="" id="u_0_k_Ft">
			
			<div class="mvl ptm uiInterstitial _9np_ uiInterstitialLarge uiBoxWhite">
				<div class="uiHeader uiHeaderBottomBorder mhl mts uiHeaderPage interstitialHeader">
					<div class="clearfix uiHeaderTop">
						<div>
							<h2 class="uiHeaderTitle" aria-hidden="true">Đổi mật khẩu</h2>
						</div>
					</div>
				</div>
				<div class="phl ptm uiInterstitialContent">
					<div>
						<div class="clearfix">
							<div> 
								<div class="_9okt olo" >
									<label style="margin-top: 0px; border: none" class="yu inputtext _55r1 _9oku _9o1w" >
									[[${session.users.username}]]
									</label>
								</div >
								<div class="_9okt olo">
									<input style="margin-top: 0px; border: none" type="password" class="yu inputtext _55r1 _9oku _9o1w" name="passwordd" placeholder="Password">
									
								</div>
								
							</div>
							<div> 
								<div class="_9okt olo" >
									<input style="margin-top: 0px; border: none" type="password" class="yu inputtext _55r1 _9oku _9o1w" name="NewPassword" placeholder="New Password">
								
								</div >
								<div class="_9okt olo">
									<input style="margin-top: 0px; border: none" type="password" class="yu inputtext _55r1 _9oku _9o1w" name="ConfirmPassword" placeholder="Confirm Password">
									
									
								</div>
								<div  class="_9okt olo"><span style="color: red">${mess}</span><br></div>
							</div>
							
						</div>
						
					</div>
				</div>
				<div class="hu uiInterstitialBar uiBoxGray topborder" style="margin-top: 330px;  margin-bottom: 19px;">
					<div class="clearfix">
						<div class="rfloat _ohf" style="margin-left: 122px; margin-top: 10px">
							<button formaction="/product/index" style=" padding: 0px; width: 100px;" class="_42ft _42fu _9nq1 textPadding29px selected _42g-" type="submit" id="skip_button">Hủy</button>
							<button value="1" class="_42ft _42fu _9nq0 _9nq023 textPadding20px selected _42g-" id="btn_continue" name="btn_continue" type="submit">Đổi mật khẩu</button>
						</div>
						<div class="pts"></div>
					</div>
				</div>
			</div>
			
		</form>
	</div>
		
</body>
</html>