<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/assets/css/singIn_Up.css" />
    <link rel="shortcut icon" href="/assets/images/favicon.png" />
    <link rel="stylesheet" href="/assets/css/alter.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <title>For get PassWord</title>
  </head>
  <body ng-app="app" ng-controller="forgetpass">
  <div id="toast"></div>
    <div class="container">
      <div class="forms-container">
        <div class="signin-signup">
          <form action="#" id="formsignin" class="sign-in-form" >
              <h2 class="title">Get PassWord</h2>
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input id="useremail" ng-model="email" type="email" required placeholder="Email" />
            </div>
            <button type="button" ng-click="next()" class="btn solid">Next</button>
            <p class="social-text">Or Sign in with social platforms</p>
            <div class="social-media">
              <a href="#" class="social-icon">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="/oauth2/authorization/google" class="social-icon">
                <i class="fab fa-google"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </div>
         
          </form>
          <form action="#" class="sign-in-form" id="formcode"  style="display: none;">
            <h2 class="title">Change Password</h2>
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input disabled type="text" ng-model="model.email" placeholder="Username" />
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input type="password" ng-model="model.password" placeholder="PassWord" />
            </div>
            <button ng-click="ChangePassword(model.password)" class="btn">Change PassWord</button>
            <p class="social-text">Or Sign up with social platforms</p>
            <div class="social-media">
              <a href="#" class="social-icon">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="/oauth2/authorization/google" class="social-icon">
                <i class="fab fa-google"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </div>
          </form>
          <form action="#" class="sign-up-form"  >
            <h2 class="title">Accuracy</h2>
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input disabled type="text" ng-model="model.email" placeholder="Username" />
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input type="tel" maxlength="6" onkeypress="return onlyNumberKey(event)" ng-model="model.code"  placeholder="Code" />
              <script>
                function onlyNumberKey(evt) {
                  // Only ASCII character in that range allowed
                  var ASCIICode = (evt.which) ? evt.which : evt.keyCode
                  if (ASCIICode > 31 && (ASCIICode < 48 || ASCIICode > 57))
                    return false;
                  return true;
                }
              </script>
              <div id="cho" style="width: 372px; text-align: center; margin-top: 8px;"> Nếu chưa nhận được vui lòng chờ trong <span id="time"></span> để gửi lại</div>
              <div id="setcapcha" style="width: 372px; text-align: center; margin-top: 8px;">Bạn vẫn chưa nhận được mã: <a  ng-click="setCapcha()" style="color: red;text-decoration: none; cursor: pointer;">Gửi lại</a></div>
            </div>
            <button type="button" ng-click="entercode(model.code)" class="btn" style="margin-top: 25px;" >Enter Code</button>
            <p class="social-text">Or Sign up with social platforms</p>
            <div class="social-media">
              <a href="#" class="social-icon">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="/oauth2/authorization/google" class="social-icon">
                <i class="fab fa-google"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </div>
          </form>

        </div>
      </div>
 
      <div class="panels-container">
        <div class="panel left-panel">
          <div class="content">
            <h3>email ?</h3>
            <p>

            </p>
            <a href="/product/index" style="color:white; text-decoration: none">
              <button class="btn transparent" style="margin-left: 10px;">Cancle</button>
            </a>
            <a href="http://localhost:8080/account/signin" style="color:white; text-decoration: none">
              <button class="btn transparent" style="margin-left: 10px;">Sign In / Up</button>
            </a>
          </div>
          <img src="/image/log.svg" class="image" alt="" />
        </div>
        <div class="panel right-panel">
          <div class="content">
            <h3 id="pcode">Code ?</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
              laboriosam ad deleniti.
            </p>
            <a href="/product/index" style="color:white; text-decoration: none">
              <button class="btn transparent" style="margin-left: 10px;">Cancle</button>
            </a>
            <a href="http://localhost:8080/account/signin" style="color:white; text-decoration: none">
              <button class="btn transparent" style="margin-left: 10px;">Sign In / Up</button>
            </a>
          </div>
          <img src="/image/register.svg" class="image" alt="" />
        </div>
      </div>
    </div>
    <script src="/js/Alter.js"></script>
    <script src="/js/angular/ForGetPassWord.js"></script>
  </body>
</html>
