<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/64d58efce2.js"
      crossorigin="anonymous"
    ></script>
    <link rel="stylesheet" href="/assets/css/singIn_Up.css" />
    <link rel="stylesheet" href="/assets/css/alter.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="shortcut icon" href="/assets/images/favicon.png" />
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <title>Sign in & Sign up Form</title>
  </head>
  <body ng-app="app" ng-controller="signup">
  <div id="toast"></div>
    <div class="container">
      <div class="forms-container">
        <div class="signin-signup">
          <form action="/account/login" modelAttribute="user" id="formlogin" method="post" class="sign-in-form">
            <h2 class="title">Sign in</h2>
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input type="text" name="username" ng-model="username" placeholder="Username" required />
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input type="password" name="password" placeholder="Password" />
            </div>
            <div style="display: flex">
              <div><input type="checkbox" checked="checked" name="remember-me" />Remember Me</div>
              <a style="text-decoration: none;color: #0346fa;margin-left: 50px;" href="/account/forgetpass">Quên mật khẩu?</a>
            </div>
            <input type="submit" ng-click="login(username)" value="Login" class="btn solid" />

            <p class="social-text">Or Sign in with social platforms</p>
            <div class="social-media">
              <a href="#" class="social-icon">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="/oauth2/authorization/google" class="social-icon">
                <i class="fab fa-google"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </div>
          </form>
          <form action="#" class="sign-in-form" id="formcode" style="display: none" >
            <h2 class="title">Code</h2>
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input disabled type="text" ng-model="item.email" placeholder="Username" />
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input type="tel" onkeypress="return onlyNumberKey(event)" ng-model="item.code" maxlength="6" placeholder="Code" />
              <script>function onlyNumberKey(evt) {
                var ASCIICode = (evt.which) ? evt.which : evt.keyCode
                if (ASCIICode > 31 && (ASCIICode < 48 || ASCIICode > 57))
                  return false;
                return true;
              }

              </script>
              <div id="cho" style="width: 372px; text-align: center; margin-top: 8px;"> Nếu chưa nhận được vui lòng chờ trong <span id="time"></span> để gửi lại</div>
              <div id="setcapcha" style="width: 372px; text-align: center; margin-top: 8px;">Bạn vẫn chưa nhận được mã: <a  ng-click="setCapcha()" style="color: red;text-decoration: none; cursor: pointer;">Gửi lại</a></div>
            </div>
            <button type="button" ng-click="entercode(item.code)" class="btn" style="margin-top: 25px;">Enter Code</button>
            <p class="social-text">Or Sign up with social platforms</p>
            <div class="social-media">
              <a href="#" class="social-icon">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="/oauth2/authorization/google" class="social-icon">
                <i class="fab fa-google"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </div>
          </form>
          <form action="#" class="sign-up-form">
            <h2 class="title">Sign up</h2>
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input type="text" placeholder="Username" name="id" ng-model="user.username" />
            </div>
            <div class="input-field">
              <i class="fas fa-user"></i>
              <input type="text" placeholder="Full name" ng-model="user.fullname" name="fullname" />
            </div>
            <div class="input-field">
              <i class="fas fa-envelope"></i>
              <input type="email" placeholder="Email" name="email" ng-model="user.email"  />
            </div>
            <div class="input-field">
              <i class="fas fa-lock"></i>
              <input type="password" placeholder="Password" name="password" ng-model="user.password"  />
            </div>
            <div >
              <a style="text-decoration: none;color: #0346fa;" href="/account/forgetpass">Quên mật khẩu?</a>
            </div>
            <button type="button" ng-click="newUser(user)" class="btn"/>SIGN UP</button>
            <p class="social-text">Or Sign up with social platforms</p>
            <div class="social-media">
              <a href="#" class="social-icon">
                <i class="fab fa-facebook-f"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-twitter"></i>
              </a>
              <a href="/oauth2/authorization/google" class="social-icon">
                <i class="fab fa-google"></i>
              </a>
              <a href="#" class="social-icon">
                <i class="fab fa-linkedin-in"></i>
              </a>
            </div>
          </form>
        </div>
      </div>

      <div class="panels-container">
        <div class="panel left-panel">
          <div class="content">
            <h3>New here ?</h3>
            <p>
              Lorem ipsum, dolor sit amet consectetur adipisicing elit. Debitis,
              ex ratione. Aliquid!
            </p>
            <button class="btn transparent" id="sign-up-btn">
              Sign up
            </button>
            <a href="/product/index" style="color:white; text-decoration: none">
              <button class="btn transparent" style="margin-left: 10px;">Cancle</button>
            </a>
          </div>
          <img src="/image/log.svg" class="image" alt="" />
        </div>
        <div class="panel right-panel">
          <div class="content">
            <h3>One of us ?</h3>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum
              laboriosam ad deleniti.
            </p>
            <div class="btnsigninup">
              <button class="btn transparent" id="sign-in-btn">
                Sign in
              </button>
              <a href="/product/index" style="color:white; text-decoration: none">
                <button class="btn transparent" style="margin-left: 10px;">Cancle</button>
              </a>
            </div>
          </div>
          <img src="/image/register.svg" class="image" alt="" />
        </div>
      </div>
    </div>
    <input type="hidden" id="login" th:value="${message}" />

    <script src="/js/Alter.js"></script>
    <script src="/js/singIn_Up.js"></script>
    <script src="/js/angular/login-up.js"></script>

  </body>
</html>
