<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/assets/css/sach.css">
<link rel="stylesheet" href="/assets/css/donhang.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>

    <link rel="stylesheet"
          href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
    <script src="/js/angular/XacNhanDHAngular.js"></script>
</head>
<body style="background-color: #f7f7f7;">
        
    <div th:replace ="~{/partials/header.html}"></div>
    <div class="don-hang-all" ng-app="myApp" ng-controller="myCtrl" style="margin-top:34px; ">
        <div id="toast"></div>
        <div class="don-hang" style="background-color: #f7f7f7;">

                <div class="dh-dia-chi">
                    <div class="dh-dia-chi-tt">Địa chỉ nhận Hàng </div>
                    <div class="dh-dia-chi-chi-tiet">
                        <div > <span class="tieu-de-all"> Người nhận: </span>{{it.username}}</div>
                        <div > <span class="tieu-de-all"> Tỉnh/Thành Phố: </span>{{it.cutomer.procvince }}</div>
                        <div > <span class="tieu-de-all"> Quận/Huyện : </span>{{it.cutomer.district }} </div>
                        <div > <span class="tieu-de-all"> Địa chỉ nhà: </span>{{it.cutomer.address}}</div>
                    </div>
                </div>

               <div class="dh-san-pham">
                <div class="dh-tt">Sản Phẩm</div>
                <div ng-repeat="item in items" class="dh-san-pham-item" style="   background: white;padding-top: 20px;">
                   <div class="san-pham" style="    background: white;">
                        <div class="san-pham-hinh">
                            <img ng-src="/file/AnhWebBanHang/{{item.product.imgs[0].image}}" alt="" style="width: 88px; height: 88px">
                        </div>
                        <div class="san-pham-tt">
                            <p class="s-ten">{{item.product.name}}</p>
                            <p class="s-loai">Loại :{{item.product.groupProduct.name}}</p>
                            <p class="s-gia">{{item.product.price * (1-a.product.sale)|number }} đ</p>
                        </div>
                        <div class="san-pham-sl">{{item.quantity}}</div>
                        <div class="san-pham-tien">{{item.product.price * (1-item.product.sale) * item.quantity |number}} đ</div>

                    </div>
                </div>

               </div>

              <div class="dh-thanh-toan">
        
                <div class="dh-tt">Phương thức thanh toán</div>

                <div class="gh">
        
                    <form  class="fr-dh" action="">
                        <label >Đơn Vị Giao Hàng</label>
                        <select ng-change="dvgh()" ng-model="dv" class="form-control" >
                          <option value="1">Giao Hàng Tiết Kiệm 20 000</option>
                          <option value="2">Giao hàng Nhanh 30 000</option>
                        </select>
                      </form>

                   
                </div>
        
                <div class="dh-tong-tien">
                    <div class="dh-tong-tien-tt">
                        <div class="dh-tong-tien-tt-1">Tổng tiền :</div>
                        <div class="dh-tong-tien-tt-1">Phí vận chuyển :</div>
                        <div class="dh-tong-tien-tt-1">Tổng thanh toán :</div>
                    </div>
                    <div class="dh-tong-tien-st">
                        <div class="dh-tong-tien-tien">{{summoney|number}} đ</div>
                        <div id="pvc" class="dh-tong-tien-van-chuyen">{{pvc|number}} đ</div>
                        <div class="dh-tong-tien-tong">{{summoney+pvc|number}} đ</div>
                    </div>
        
                </div>
                
        
                <div class="dh-btn">
                    <input class="dh" type="submit" ng-click="DatHang(items)" value="Đặt Hàng">
                </div>
        
              </div>

        </div>
    </div>

    <div th:replace ="~{/partials/footer.html}"></div>

</body>
</html>