<link rel="stylesheet" href="loc.css">

<div class="loc-all">
  <div class="loc">

    <div class="chung">
      <div class="loc-sap-xep">
        <div class="loc-tt">Xắp xếp</div>
        Giá giảm dần
        <input name="xep" type="radio">
        Giá tăng dần
        <input name="xep" type="radio">
        Mua nhiều nhất
        <input name="xep" type="radio">
      </div>


      <div class="loc-gia">
        <div class="loc-tt">Giá</div>
        Thấp nhất
        <input class="min" type="text">
        Cao nhất
        <input class="max" type="text">

      </div>
    </div>

    <div class="loc-loai">
      <div class="loc-tt">Loại</div>
      <div class="loai">
        <div>
          <h5>Nồi</h5>
          <input name="loai" type="checkbox">
        </div>
        <div>
          <h5>chảo</h5>
          <input name="loai" type="checkbox">
        </div>
        <div>
          <h5>xong</h5>
          <input name="loai" type="checkbox">
        </div>
        <div>
          <h5>Nồi</h5>
          <input name="loai" type="checkbox">
        </div>

        <div>
          <h5>Nồi</h5>
          <input name="loai" type="checkbox">
        </div>
        <div>
          <h5>chảo</h5>
          <input name="loai" type="checkbox">
        </div>
        <div>
          <h5>xong</h5>
          <input name="loai" type="checkbox">
        </div>
        <div>
          <h5>Nồi</h5>
          <input name="loai" type="checkbox">
        </div>

        <div>
          <h5>Nồi</h5>
          <input name="loai" type="checkbox">
        </div>
        <div>
          <h5>chảo</h5>
          <input name="loai" type="checkbox">
        </div>
        <div>
          <h5>xong</h5>
          <input name="loai" type="checkbox">
        </div>
        <div>
          <h5>Nồi</h5>
          <input name="loai" type="checkbox">
        </div>

        <div>
          <h5>Nồi</h5>
          <input name="loai" type="checkbox">
        </div>
        <div>
          <h5>chảo</h5>
          <input name="loai" type="checkbox">
        </div>
        <div>
          <h5>xong</h5>
          <input name="loai" type="checkbox">
        </div>
        <div>
          <h5>Nồi</h5>
          <input name="loai" type="checkbox">
        </div>

        <div>
          <h5>Nồi</h5>
          <input name="loai" type="checkbox">
        </div>
        <div>
          <h5>chảo</h5>
          <input name="loai" type="checkbox">
        </div>
        <div>
          <h5>xong</h5>
          <input name="loai" type="checkbox">
        </div>
        <div>
          <h5>Nồi</h5>
          <input name="loai" type="checkbox">
        </div>

        <div>
          <h5>Nồi</h5>
          <input name="loai" type="checkbox">
        </div>
        <div>
          <h5>chảo</h5>
          <input name="loai" type="checkbox">
        </div>
        <div>
          <h5>xong</h5>
          <input name="loai" type="checkbox">
        </div>
        <div>
          <h5>Nồi</h5>
          <input name="loai" type="checkbox">
        </div>

      </div>
    </div>





  </div>
</div>