<html xmlns:th="http://www.thymeleaf.org" >

<head>
  <title>Đơn mua</title>
  <link rel="shortcut icon" href="/assets/images/favicon.png" />
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <!-- Bootstrap CSS -->
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <link rel='stylesheet' href='https://codepen.io/depy/pen/LaXVEK.css'><link rel="stylesheet" href="./ratingcss.css">

  <script src='https://codepen.io/depy/pen/LaXVEK.js'></script>
  <link rel="stylesheet" href="/assets/css/alter.css">


  <script src="/js/angular/Orderstatus.js"></script>

  <link rel="stylesheet" href="/assets/css/orderstatus.css">
  <link rel="stylesheet" href="/assets/css/sach.css">
  <link rel="stylesheet" href="./ratingcss.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


  <script src="/js/Alter.js"></script>
</head>

<body ng-app="app" ng-controller="orderstatus" class="boody" id="boody">


<!-- header -->
<div th:replace="~{/partials/header.html}"></div>
<div id="toast"></div>
<div class="container d-flex justify-content-center">

  <div class="d-flex" id="wrapper">
    <!-- Sidebar-->
    <div class="border-end bg-white" id="sidebar-wrapper">
      <div class="av">
        <div class="shop-avatar">
          <img th:src="@{|/file/user/${session.users.img}|}" alt="">
        </div>
        <div>
          <div class="tt">[[${session.users.username}]]</div>
          <a class="hoso" href="/accounts/changinformation"><i class="fa fa-pencil" aria-hidden="true"></i> Sửa hồ sơ</a>
        </div>
      </div>
      <div class="list-group list-group-flush">

        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="/accounts/changinformation">
          <i class="fa fa-user"     aria-hidden="true"></i>Tài khoản của tôi</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!" style="color: #ee4d2d !important;"><i
                class="fa fa-list-alt" aria-hidden="true"></i>Đơn mua</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!">
          <i class="fa fa-bell"   aria-hidden="true"></i>Thông báo</a>
        <a class="list-group-item list-group-item-action list-group-item-light p-3" href="#!"></a>
      </div>
    </div>
    <!-- Page content wrapper-->
    <div id="page-content-wrapper">
      <!-- Top navigation-->
      <ul class="nav nav__tabs" role="tablist">
        <li class="nav__item">
          <a class="nav-link active" href="#all" role="tab" data-toggle="tab">Tất cả</a>
        </li>
        <li class="nav__item">
          <a class="nav-link" href="#wait_xn" role="tab" data-toggle="tab">Chờ xác nhận</a>
        </li>
        <li class="nav__item">
          <a class="nav-link" href="#wait_lh" role="tab" data-toggle="tab">Chờ lấy hàng</a>
        </li>
        <li class="nav__item">
          <a class="nav-link" href="#Danggiao" role="tab" data-toggle="tab">Đang giao</a>
        </li>
        <li class="nav__item">
          <a class="nav-link" href="#Dagiao" role="tab" data-toggle="tab">Đã giao</a>
        </li>
        <li class="nav__item">
          <a class="nav-link" href="#Dahuy" role="tab" data-toggle="tab">Đã Hủy</a>
        </li>

      </ul>

      <!-- Tab panes -->
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane fade active show" id="all">


          <!-- Actual search box -->
          <div class="form-group has-search">
            <span class="fa fa-search form-control-feedback"></span>
            <input ng-model="search" type="text" class="form-control" placeholder="Tìm kiếm theo tên shop, ID đơn hàng hoặc tên sản phẩm">
          </div>

          <div  class="container-product">

            <div ng-repeat="item in orderlist | filter:{id:search} " class="info-product">
              <div class="status d-flex">
                <div class="name"><i class="fa fa-shopping-basket" aria-hidden="true"></i>Mã đơn: {{item.id}}</div>
                <button id="button-chat"><i class="fa fa-comment-o" aria-hidden="true"></i>chat</button>
                <button id="button-xem"><i class="fa fa-calendar-o" aria-hidden="true"></i>xemshop</button>
                <span class="ml-auto p-2">{{status[item.status].status}}</span>

              </div>
              <div  class="product"><img src="/file/AnhWebBanHang/{{orderdetail[getIdOr(item.id)].product.imgs[0].image}}" alt="">
                <ul class="phanloai" >
                <li>{{orderdetail[getIdOr(item.id)].product.name}} </li>
                <li>Loại: {{orderdetail[getIdOr(item.id)].product.groupProduct.name}}</li>
                <li>Số lượng: {{orderdetail[getIdOr(item.id)].quantity}}</li>
                </ul>
                <span class="ghw9hb" style="margin-top: 40px ; margin-left: 50%">Số tiền: {{orderdetail[getIdOr(item.id)].product.price*orderdetail[getIdOr(item.id)].quantity}}</span>

              </div>
              <div class="price0">
                <div class="price " >
                  <div class="price1 ">Tổng số tiền :</div>
                  <div class="price2">{{item.totalmoney}}</div>
                </div>
              </div>
              <div class="payment">
                <div class="payment1"></div>
                <div class="payment2">
                  <!-- The Modal -->
                  <!-- Button to Open the Modal -->

                  <div class="_8vTqu9">
                  <button ng-click="orderid(item.id)" type="button"  class="stardust-button stardust-button--primary Kz9HeM" data-toggle="modal" data-target="#myModal1">
                    chi tiết đơn hang
                  </button>
                  </div>

                  <div ng-if="item.status!=3">

                  <div  ng-if="item.status== 1 || item.status== 2" class="_8vTqu9">
                    <button ng-click="xnHuy(item.id)"  class="stardust-button stardust-button--primary Kz9HeM" data-toggle="modal"  data-target="#myModal3">Hủy</button>
                  </div>

                  <div  ng-if="item.status== 4 || item.status== 5" class="_8vTqu9">
                    <button ng-click="newCar(orderdetail[getIdOr(item.id)].product.id)" class="stardust-button stardust-button--primary Kz9HeM">Đặt lại</button>
                  </div>
                  </div>
                </div>
              </div>
            </div>

          </div>


        </div>
        <div role="tabpanel" class="tab-pane fade" id="wait_xn">
          <div ng-repeat="item in orderlist | filter : {status:1}" class="info-product">
            <div class="status d-flex">
              <div class="name"><i class="fa fa-shopping-basket" aria-hidden="true"></i>Mã đơn: {{item.id}}</div>
              <button id="button-chat"><i class="fa fa-comment-o" aria-hidden="true"></i>chat</button>
              <button id="button-xem"><i class="fa fa-calendar-o" aria-hidden="true"></i>xemshop</button>
              <span class="ml-auto p-2">{{status[item.status].status}}</span>

            </div>
            <div  class="product" ><img src="/file/AnhWebBanHang/{{orderdetail[getIdOr(item.id)].product.imgs[0].image}}" alt="">
              <ul class="phanloai" >
                <li>{{orderdetail[getIdOr(item.id)].product.name}} </li>
                <li>Loại: {{orderdetail[getIdOr(item.id)].product.groupProduct.name}}</li>
                <li>Số lượng: {{orderdetail[getIdOr(item.id)].quantity}}</li>
              </ul>
              <span class="ghw9hb" style="margin-top: 40px ; margin-left: 50%">Số tiền: {{orderdetail[getIdOr(item.id)].product.price*orderdetail[getIdOr(item.id)].quantity}}</span>

            </div>
            <div class="price0">
              <div class="price " >
                <div class="price1 ">Tổng số tiền :</div>
                <div class="price2">{{item.totalmoney}}</div>
              </div>
            </div>
            <div class="payment">
              <div class="payment1"></div>
              <div class="payment2">

                <!-- Button to Open the Modal -->
                <button ng-click="orderid(item.id)" type="button" class="stardust-button stardust-button--primary Kz9HeM" data-toggle="modal" data-target="#myModal1">
                  chi tiết đơn hang
                </button>

                <div class="_8vTqu9">
                  <button ng-click="xnHuy(item.id)"  class="stardust-button stardust-button--primary Kz9HeM" data-toggle="modal"  data-target="#myModal3">Hủy</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="wait_lh">
          <div ng-repeat="item in orderlist | filter : {status:2}" class="info-product">
            <div class="status d-flex">
              <div class="name"><i class="fa fa-shopping-basket" aria-hidden="true"></i>Mã đơn: {{item.id}}</div>
              <button id="button-chat"><i class="fa fa-comment-o" aria-hidden="true"></i>chat</button>
              <button id="button-xem"><i class="fa fa-calendar-o" aria-hidden="true"></i>xemshop</button>
              <span class="ml-auto p-2">{{status[item.status].status}}</span>

            </div>

            <div  class="product" ><img src="/file/AnhWebBanHang/{{orderdetail[getIdOr(item.id)].product.imgs[0].image}}" alt="">
              <ul class="phanloai" >
                <li>{{orderdetail[getIdOr(item.id)].product.name}} </li>
                <li>Loại: {{orderdetail[getIdOr(item.id)].product.groupProduct.name}}</li>
                <li>Số lượng: {{orderdetail[getIdOr(item.id)].quantity}}</li>
              </ul>
              <span class="ghw9hb" style="margin-top: 40px ; margin-left: 50%">Số tiền: {{orderdetail[getIdOr(item.id)].product.price*orderdetail[getIdOr(item.id)].quantity}}</span>

            </div>
            <div class="price0">
              <div class="price " >
                <div class="price1 ">Tổng số tiền :</div>
                <div class="price2">{{item.totalmoney}}</div>
              </div>
            </div>
            <div class="payment">
              <div class="payment1"></div>
              <div class="payment2">
                <!-- The Modal -->
                <!-- Button to Open the Modal -->
                <button ng-click="orderid(item.id)" type="button" class="stardust-button stardust-button--primary Kz9HeM" data-toggle="modal" data-target="#myModal1">
                  chi tiết đơn hang
                </button>

                <div class="_8vTqu9">
                  <button ng-click="xnHuy(item.id)"  class="stardust-button stardust-button--primary Kz9HeM" data-toggle="modal"  data-target="#myModal3">Hủy</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="Danggiao">
          <div ng-repeat="item in orderlist | filter : {status:3}" class="info-product">
            <div class="status d-flex">
              <div class="name"><i class="fa fa-shopping-basket" aria-hidden="true"></i>Mã đơn: {{item.id}}</div>
              <button id="button-chat"><i class="fa fa-comment-o" aria-hidden="true"></i>chat</button>
              <button id="button-xem"><i class="fa fa-calendar-o" aria-hidden="true"></i>xemshop</button>
              <span class="ml-auto p-2">{{status[item.status].status}}</span>

            </div>
            <div  class="product" ><img src="/file/AnhWebBanHang/{{orderdetail[getIdOr(item.id)].product.imgs[0].image}}" alt="">
              <ul class="phanloai" >
                <li>{{orderdetail[getIdOr(item.id)].product.name}} </li>
                <li>Loại: {{orderdetail[getIdOr(item.id)].product.groupProduct.name}}</li>
                <li>Số lượng: {{orderdetail[getIdOr(item.id)].quantity}}</li>
              </ul>
              <span class="ghw9hb" style="margin-top: 40px ; margin-left: 50%">Số tiền: {{orderdetail[getIdOr(item.id)].product.price*orderdetail[getIdOr(item.id)].quantity}}</span>

            </div>
            <div class="price0">
              <div class="price " >
                <div class="price1 ">Tổng số tiền :</div>
                <div class="price2">{{item.totalmoney}}</div>
              </div>
            </div>
            <div class="payment">
              <div class="payment1"></div>
              <div class="payment2">
                <!-- The Modal -->
                <!-- Button to Open the Modal -->
                <button ng-click="orderid(item.id)" type="button" class="stardust-button stardust-button--primary Kz9HeM" data-toggle="modal" data-target="#myModal1">
                  chi tiết đơn hang
                </button>
              </div>
            </div>
          </div>
        </div>
        <div role="tabpanel" class="tab-pane fade" id="Dagiao">
          <div ng-repeat="item in orderlist | filter : {status:4}" class="info-product">
            <div class="status d-flex">
              <div class="name"><i class="fa fa-shopping-basket" aria-hidden="true"></i>Mã đơn: {{item.id}}</div>
              <button id="button-chat"><i class="fa fa-comment-o" aria-hidden="true"></i>chat</button>
              <button id="button-xem"><i class="fa fa-calendar-o" aria-hidden="true"></i>xemshop</button>
              <span class="ml-auto p-2">{{status[item.status].status}}</span>

            </div>
            <div  class="product" ><img src="/file/AnhWebBanHang/{{orderdetail[getIdOr(item.id)].product.imgs[0].image}}" alt="">
              <ul class="phanloai" >
                <li>{{orderdetail[getIdOr(item.id)].product.name}} </li>
                <li>Loại: {{orderdetail[getIdOr(item.id)].product.groupProduct.name}}</li>
                <li>Số lượng: {{orderdetail[getIdOr(item.id)].quantity}}</li>
              </ul>
              <span class="ghw9hb" style="margin-top: 40px ; margin-left: 50%">Số tiền: {{orderdetail[getIdOr(item.id)].product.price*orderdetail[getIdOr(item.id)].quantity}}</span>

            </div>
            <div class="price0">
              <div class="price " >
                <div class="price1 ">Tổng số tiền :</div>
                <div class="price2">{{item.totalmoney}}</div>
              </div>
            </div>
            <div class="payment">
              <div class="payment1"></div>
              <div class="payment2">
                <!-- The Modal -->
                <!-- Button to Open the Modal -->

                <button ng-click="orderid(item.id)" type="button" class="stardust-button stardust-button--primary Kz9HeM" data-toggle="modal" data-target="#myModal1">
                  chi tiết đơn hang
                </button>

                <div class="VN6h8+">
                  <button class="stardust-button stardust-button--primary Kz9HeM">Đặt lại</button>
                </div>
                </div>
                <!-- The Modal -->


              </div>
            </div>
          </div>
        <div role="tabpanel" class="tab-pane fade" id="Dahuy">
          <div ng-repeat="item in orderlist | filter : {status:5}" class="info-product">
            <div class="status d-flex">
              <div class="name"><i class="fa fa-shopping-basket" aria-hidden="true"></i>Mã đơn: {{item.id}}</div>
              <button id="button-chat"><i class="fa fa-comment-o" aria-hidden="true"></i>chat</button>
              <button id="button-xem"><i class="fa fa-calendar-o" aria-hidden="true"></i>xemshop</button>
              <span class="ml-auto p-2">{{status[item.status].status}}</span>

            </div>
            <div  class="product" ><img src="/file/AnhWebBanHang/{{orderdetail[getIdOr(item.id)].product.imgs[0].image}}" alt="">
              <ul class="phanloai" >
                <li>{{orderdetail[getIdOr(item.id)].product.name}} </li>
                <li>Loại: {{orderdetail[getIdOr(item.id)].product.groupProduct.name}}</li>
                <li>Số lượng: {{orderdetail[getIdOr(item.id)].quantity}}</li>
              </ul>
              <span class="ghw9hb" style="margin-top: 40px ; margin-left: 50%">Số tiền: {{orderdetail[getIdOr(item.id)].product.price*orderdetail[getIdOr(item.id)].quantity}}</span>

            </div>
            <div class="price0">
              <div class="price " >
                <div class="price1 ">Tổng số tiền :</div>
                <div class="price2">{{item.totalmoney}}</div>
              </div>
            </div>
            <div class="payment">
              <div class="payment1"></div>
              <div class="payment2">
                <!-- The Modal -->
                <!-- Button to Open the Modal -->
                <div class="VN6h8+">
                <button ng-click="orderid(item.id)" type="button" class="stardust-button stardust-button--primary Kz9HeM" data-toggle="modal" data-target="#myModal1">
                  chi tiết đơn hang
                </button>
                </div>
                <!-- The Modal -->

                <div class="VN6h8+">
                  <button ng-click="newCar(orderdetail[getIdOr(item.id)].product.id)" class="stardust-button stardust-button--primary Kz9HeM">Đặt lại</button>
                </div>


              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Page content-->

  </div>

</div>

<!-- The Modal -->
<div class="modal" id="myModal1">
  <div class="modal-dialog">
    <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Chi tiết đơn hàng</h4>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="container">
          <article class="card">

            <div class="card-body">
              <h6>Order ID: {{orderstatus[0].order.id}}</h6>
              <h6>Tổng đơn: {{getAmount()}}</h6>
              <article class="card">
                <div class="card-body row">
                  <div class="col"> <strong>Ngày đặt đơn:</strong> <br>{{orderstatus[0].order.date| date:'dd-MM-yyyy'}} </div>
                  <div class="col"> <strong>Giao bởi:</strong> <br> BLUEDART, | <i class="fa fa-phone"></i> +1598675986 </div>
                  <div class="col"> <strong>Trạng thái:</strong> <br> {{status[orderstatus[0].order.status].status}}</div>
                  <div class="col"> <strong>Thành tiền:</strong> <br> {{orderstatus[0].order.totalmoney}} </div>
                </div>
              </article>
              <div class="track" id="track">
                <div id="step1" class="step"> <span class="icon"> <i class="fa fa-check" style="margin-top: 11px; margin-left: 5px"></i> </span> <span class="text">Chờ xác nhận</span> </div>
                <div id="step2" class="step"> <span class="icon"> <i class="fa fa-user" style="margin-top: 11px; margin-left: 5px"></i> </span> <span class="text"> Chờ lấy hàng</span> </div>
                <div id="step3" class="step"> <span class="icon"> <i class="fa fa-truck" style="margin-top: 11px; margin-left: 5px" aria-hidden="true"></i></span> <span class="text"> Đang giao </span> </div>
                <div id="step4" class="step"> <span class="icon"> <i class="fa fa-check" style="margin-top: 11px; margin-left: 5px" aria-hidden="true"></i> </span> <span class="text">Đã giao</span> </div>
              </div>
              <hr>
              <ul class="row">
                <li ng-repeat="item in orderstatus" class="col-md-6" >
                  <a href="/product/sanpham/{{item.product.id}}" style="color: #1bcfb4; text-decoration: none">
                  <figure class="itemside mb-3">
                    <div class="aside"><img src="/file/AnhWebBanHang/{{item.product.imgs[0].image}}" class="img-sm border"></div>
                    <figcaption class="info align-self-center">
                      <p class="title">{{item.product.name}} <br> Loại : {{item.product.groupProduct.name}}<br> Số lượng : {{item.quantity}}</p> <span class="text-muted">Giá : {{item.product.price}} </span>
                      <div class="_8vTqu9-" style="margin-left: 10px">

                      </div>
                    </figcaption>
                  </figure>
                  </a>
                  <button ng-if="item.order.status == 4" ng-click="productbyid(item.product.id)" class="stardust-button stardust-button--primary Kz9HeMn" data-toggle="modal" data-target="#myModal2">
                    Đánh giá
                  </button>
                </li>

              </ul>
              <h3>Tổng số tiền: {{orderstatus[0].order.totalmoney}}</h3>
              <hr>

            </div>
          </article>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">
        <button type="button" id="clonemodal1" class="btn btn-danger" data-dismiss="modal">Đóng</button>
      </div>

    </div>
  </div>
</div>


<!-- The Modal -->
<div class="modal" id="myModal2">
  <div class="modal-dialog">
    <div class="modal-content" style="width: 50%; margin-left: 25%">

      <!-- Modal Header -->
      <div class="modal-header">
        <h4 class="modal-title">Đánh giá</h4>
        <button ng-click="add()" type="button" class="btn btn-danger" data-dismiss="modal">X</button>
      </div>

      <!-- Modal body -->
      <div class="modal-body">
        <div class="container">
          <article class="card">

            <div class="card-body">

                <div  class="col-md-8" style="margin: 20px">

                  <figure class="itemside mb-3">
                    <div class="aside"><img src="/file/AnhWebBanHang/{{productitem.product.imgs[0].image}}" class="img-sm border"></div>
                    <figcaption class="info align-self-center">
                      <p class="title">{{productitem.product.name}} <br> Loại : {{productitem.product.groupProduct.name}}<br> Số lượng : {{productitem.quantity}}</p> <span class="text-muted">Giá : {{productitem.product.price}} </span>
                    </figcaption>
                  </figure>

                </div>


              <div class='rating-stars text-center'>
                <ul id='stars' style="text-align-last: center">
                  <li class='star' title='Poor' data-value='1'>
                    <i class='fa fa-star fa-fw'></i>
                  </li>
                  <li class='star' title='Fair' data-value='2'>
                    <i class='fa fa-star fa-fw'></i>
                  </li>
                  <li class='star' title='Good' data-value='3'>
                    <i class='fa fa-star fa-fw'></i>
                  </li>
                  <li class='star' title='Excellent' data-value='4'>
                    <i class='fa fa-star fa-fw'></i>
                  </li>
                  <li class='star' title='WOW!!!' data-value='5'>
                    <i class='fa fa-star fa-fw'></i>
                  </li>
                </ul>
              </div>



              <div class="form-group">
                <label for="exampleFormControlTextarea1">Bình luận</label>
                <textarea ng-model="evalute.comment" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
              </div>


            </div>
            <button ng-click="submit(productitem)" type="button" class="btn btn-danger" data-dismiss="modal">Xác nhận</button>
          </article>
        </div>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer">

      </div>

    </div>
  </div>
</div>
<div class="modal" id="myModal3">
  <div class="modal-dialog">
    <div class="modal-content" style="width: 26%; margin-left: 39%">

      <!-- Modal Header -->


      <!-- Modal body -->
      <div class="modal-body">
        <div class="container">
          <article class="card">

            <div class="card-body" style="padding: 10px; align-self: center; margin-bottom: -20px">

                <figure class="itemside mb-3">
                  <figcaption class="info align-self-center">
                    <h5>Bạn chắc chắn hủy đơn?</h5>
                  </figcaption>
                </figure>
            </div>

          </article>
        </div>
      </div>
      <!-- Modal footer -->
      <div class="modal-footer" style="display: block">
            <div class="row">
            <button style="width: 150px; margin-left: 4px" ng-click="Huy()" type="button" class="btn btn-danger" data-dismiss="modal">Xác nhận</button>
            <button style="width: 150px; margin-left: 15px"  type="button" class="btn btn-danger" data-dismiss="modal">Đóng</button>
            </div>
      </div>

    </div>
  </div>
</div>
<!-- Optional JavaScript -->
<!-- footer -->
<div th:replace="/partials/footer.html"></div>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
</script>

<script src="/js/orderstatus.js"></script>
</body>

</html>