<!DOCTYPE html>
<html>
<head>
    <title>Chi tiết sản phẩm</title>
    <link rel="shortcut icon" href="/assets/images/favicon.png" />
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://kit.fontawesome.com/54a9f8f1bb.js"
            crossorigin="anonymous"></script>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" />

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- Google Fonts Roboto -->

    <link rel="stylesheet" href="/assets/css/productcss.css">
    <link rel="stylesheet" href="/assets/css/sach.css">

    <!--Angular link -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

    <link rel="stylesheet" href="/assets/css/alter.css" />
    <script src="/js/Alter.js"></script>
    <style>
<!--.democlass {-->
<!--  display: none;-->
<!--}-->
</style>

</head>
<body ng-app="app" ng-controller="ctrlproductdetail" style=" background-color: #f2edf3;">
<div th:replace ="~{/partials/header.html}"></div>
<div id="toast"></div>
<div style="background-color: #f2edf3;">
    <div class="detail">
        <div class="gr">
            <div class="hinh" style="    width: 50%;">

                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="margin-right: 24px;">
                    <ol class="carousel-indicators">
                        <li style="background: black; opacity: 0.5;" data-target="#carouselExampleIndicators" ng-repeat="img in items.imgs" data-slide-to="{{$index}}" class="{{::($index === 0 ? 'active' : '')}}"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item {{::($index === 0 ? 'active' : '')}}" ng-repeat="img in items.imgs">
                            <img class="d-block w-100" src="/file/AnhWebBanHang/{{img.image}}" alt="">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev" style="opacity: 1!important;">
                        <i class="fa fa-2x fa-angle-left text-dark" style="background: #cacaca;padding: 12px 4px; border-radius: 13px;"></i>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next" style="opacity: 1!important;">
                        <i class="fa fa-2x fa-angle-right text-dark" style="background: #cacaca;padding: 12px 4px; border-radius: 13px;"></i>
                    </a>


                </div>

            </div>

            <div class="thong-tin">


                <div class="thong-tin-div">
                    <div class="thong-tin-chung">
                        <div class="ten">
                            {{items.name}}
                        </div>

                        <div class="danh-gia" style="margin-left: 55px;">
                            <span style="font-size: 20px;">| {{evalutes.evalute.length}} đánh giá |</span>
                            <span style="font-size: 20px;">| 500 lượt mua |</span>
                        </div>


                    </div>


                    <div class="thong-tin-gia">


                        <div class="gia">
                            <div class="gia-cu-gia">
                                {{items.price}}Đ
                            </div>
                            <div class="gia-moi-gia">
                                {{items.price*(1-items.sale) }} Đ
                            </div>
                            <div class="giam">
                                {{items.sale*100}}%
                            </div>

                        </div>


                        <div class="mua-hang" style="    position: absolute; bottom: 0px;">
                            <div class="d-flex align-items-center mb-4 pt-2" style="padding: 0.375rem 0.75rem">
                                <div>Số Lượng</div>
                                <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                                    <a class="btn px-2" style="height: 39px;margin-top: 5px; border: 1px solid #ced4da;"
                                       onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                                        <i class="fas fa-minus"></i>
                                    </a>

                                    <input type="number" name="quantity"  id="quantity" min="1" value="1" max="{{items.amount}}"
                                           style="width: 70px; height: 40px; text-align: center;" class="form-control form-control-sm" />

                                    <a class="btn  px-2" style="height: 39px;margin-top: 5px; border: 1px solid #ced4da;"
                                       onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                                        <i class="fas fa-plus"></i>
                                    </a>
                                </div>
                                <div>
                                    <strong> {{items.amount}} sản phẩm có sẵn</strong>
                                </div>


                            </div>

                            <div class="btn">
                                <button class="mua ngay ho" ng-click="newCar(items,0)"> Mua Ngay</button>
                                <button class="mua ho" ng-click="newCar(items,1)"> Thêm Vào Giỏ</button>
                            </div>

                        </div>


                    </div>

                </div>


            </div>

        </div>

    </div>
    <div class="chi-tiet-sp">
        <div class="tt-danh-gia">
            CHI TIẾT SẢN PHẨM
        </div>
            <hr>
        <div style="padding:15px">
            <strong>{{items.name}} :</strong>
            <textarea id="note" ng-model="items.detail"></textarea>
        </div>
    </div>

    <div class="danh-gia-sp" >
        <div class="tt-danh-gia">
            ĐÁNH GIÁ SẢN PHẨM
            <hr>
        </div>

        <div class="sao-bl"  ng-if="evalutes.evalute.length == 0">
            <div style="font-size: 47px;line-height: 67px;text-align: center; color: red;">
                    Chưa có đánh giá nào
            </div>
        </div>
        <div class="sao-bl row"  ng-if="(star)>0">
            <div class="col-3" style="margin-left: 17px;">
                <div class="so-sao thuc">
                    {{star| number:1}} <span style="font-size: 23px;">trên 5</span>
                </div>

                <div class="rating-container rating-md rating-animate">
                    <div class="rating-starss">
                        <span class="empty-stars">
                            <span class="stars"><i class='fa fa-star fa-fw'></i></span>
                            <span class="stars"><i class='fa fa-star fa-fw'></i></span>
                            <span class="stars"><i class='fa fa-star fa-fw'></i></span>
                            <span class="stars"><i class='fa fa-star fa-fw'></i></span>
                            <span class="stars"><i class='fa fa-star fa-fw'></i></span>
                        </span>
                        <span id="filled-stars" class="filled-stars">
                            <span class="stars"><i class='fa fa-star fa-fw'></i></span>
                            <span class="stars"><i class='fa fa-star fa-fw'></i></span>
                            <span class="stars"><i class='fa fa-star fa-fw'></i></span>
                            <span class="stars"><i class='fa fa-star fa-fw'></i></span>
                            <span class="stars"> <i class='fa fa-star fa-fw'></i></span>
                        </span>
                    </div>
                </div>

                <script>
                    document.getElementById('filled-stars').style.width=starr/5*100+'%'
                </script>
            </div>
            <div class="col-8">
                <button  ng-click="startype('')" type="button" class="btn btn-warning">Tất cả<i class='fa fa-star fa-fw'></i></button>
                <button  ng-click="startype('1')" type="button" class="btn btn-warning">1<i class='fa fa-star fa-fw'></i></button>
                <button  ng-click="startype('2')" type="button" class="btn btn-warning">2<i class='fa fa-star fa-fw'></i></button>
                <button  ng-click="startype('3')" type="button" class="btn btn-warning">3<i class='fa fa-star fa-fw'></i></button>
                <button  ng-click="startype('4')" type="button" class="btn btn-warning">4<i class='fa fa-star fa-fw'></i></button>
                <button  ng-click="startype('5')" type="button" class="btn btn-warning">5<i class='fa fa-star fa-fw'></i></button>
            </div>



        </div>



        <div class="bl-content-chung">

            <div class="bl-content" ng-repeat="item in evalutes.evalute  | filter:{footQuality:loaisao} | limitTo : 3">
                <div class="chat-bl">
                    <div class="hinh"><img width="50px" height="50px" src="/file/user/{{evalutes.avatar[$index]}}" alt=""></div>
                    <div class="ten-nbl">{{item.cutomer.name}}</div>
                    <div class="time"  >{{item.date| date:'dd-MM-yyyy'}}</div>
                </div>
                <div class="ccc">
                    <div class='rating-stars' >

                        <ul id='stars{' >
                            <li class="star {{::(item.footQuality >= 1 ? 'selected' : '')}}" title='Poor' data-value='1'>
                                <i class='fa fa-star fa-fw'></i>
                            </li>
                            <li class="star  {{::(item.footQuality >= 2 ? 'selected' : '')}}" title='Fair' data-value='2'>
                                <i class='fa fa-star fa-fw'></i>
                            </li>
                            <li class="star  {{::(item.footQuality >= 3 ? 'selected' : '')}}" title='Good' data-value='3'>
                                <i class='fa fa-star fa-fw'></i>
                            </li>
                            <li class="star  {{::(item.footQuality >= 4 ? 'selected' : '')}}" title='Excellent' data-value='4'>
                                <i class='fa fa-star fa-fw'></i>
                            </li>
                            <li class="star  {{::(item.footQuality >= 5 ? 'selected' : '')}}" title='WOW!!!' data-value='5'>
                                <i class='fa fa-star fa-fw'></i>
                            </li>
                        </ul>


                    </div>

                    <div class="bl-ct">{{item.comment}}</div>
                </div>
                <hr>

            </div>
               <div ng-if="evalutes.evalute.length > 3">
                   <a style="margin-left: 42%; margin-bottom: 15px;border-radius: 20px; width: 152px;" data-toggle="modal" data-target="#exampleModal" class="btn btn-danger">Xem Thêm</a>
               </div>

        </div>
    </div>


    <div class="sp-tuong-tu">
        <div class="tt-danh-gia">
            SẢN PHẨM TƯƠNG TỰ
        <hr>

			<div class="row">
                <div class="hotsp col-sm-2"  ng-repeat="item in groupproduct">
                    <div class="">
                        <a href="/product/sanpham/{{item.id}}"> <!-- anh -->
                            <div>
                                <img style="margin-top: 3px;width: 175px;" src="/file/AnhWebBanHang/{{item.imgs[0].image}}"
                                     class="col-sm-12" alt="">
                            </div> <!-- Title -->
                            <h2>
                                <a class="sachxuhuong">{{item.name}}</a>
                            </h2> <!-- Gia -->
                            <div class="xuhuong">
            <span style="color: red;">{{item.price}}<span
                    style="font-size: 16px;">đ</span></span> <span
                                    style="text-align: right; font-size: 11px;">đã bán 1k2</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-body">

                <button type="button" style="
                font-size: 30px !important;
                right: 8px;
                top: 6px;
                color: red;
                background: white;
                width: 89px;
                position: absolute;
                border-radius: 20px;
                border: none;
"  data-dismiss="modal">Close</button>

                <div class="danh-gia-sp" >
                    <div class="tt-danh-gia">
                        ĐÁNH GIÁ SẢN PHẨM
                        <hr>
                    </div>
                    </div>
                    <div class="sao-bl row" >
                        <div class="col-3" style="margin-left: 17px;">
                            <div class="so-sao thuc">
                                {{star| number:1}} <span style="font-size: 23px;">trên 5</span>
                            </div>

                            <div class="rating-container rating-md rating-animate">
                                <div class="rating-starss">
                        <span class="empty-stars">
                            <span class="stars"><i class='fa fa-star fa-fw'></i></span>
                            <span class="stars"><i class='fa fa-star fa-fw'></i></span>
                            <span class="stars"><i class='fa fa-star fa-fw'></i></span>
                            <span class="stars"><i class='fa fa-star fa-fw'></i></span>
                            <span class="stars"><i class='fa fa-star fa-fw'></i></span>
                        </span>
                                    <span id="filled-stars" class="filled-stars">
                            <span class="stars"><i class='fa fa-star fa-fw'></i></span>
                            <span class="stars"><i class='fa fa-star fa-fw'></i></span>
                            <span class="stars"><i class='fa fa-star fa-fw'></i></span>
                            <span class="stars"><i class='fa fa-star fa-fw'></i></span>
                            <span class="stars"> <i class='fa fa-star fa-fw'></i></span>
                        </span>
                                </div>
                            </div>

                            <script>
                                document.getElementById('filled-stars').style.width=starr/5*100+'%'
                            </script>
                        </div>
                        <div class="col-8">
                            <button  ng-click="startype('')" type="button" class="btn btn-warning">Tất cả<i class='fa fa-star fa-fw'></i></button>
                            <button  ng-click="startype('1')" type="button" class="btn btn-warning">1<i class='fa fa-star fa-fw'></i></button>
                            <button  ng-click="startype('2')" type="button" class="btn btn-warning">2<i class='fa fa-star fa-fw'></i></button>
                            <button  ng-click="startype('3')" type="button" class="btn btn-warning">3<i class='fa fa-star fa-fw'></i></button>
                            <button  ng-click="startype('4')" type="button" class="btn btn-warning">4<i class='fa fa-star fa-fw'></i></button>
                            <button  ng-click="startype('5')" type="button" class="btn btn-warning">5<i class='fa fa-star fa-fw'></i></button>
                        </div>

                    </div>

                    <div class="bl-content-chung">

                        <div class="bl-content" ng-repeat="item in evalutes.evalute  | filter:{footQuality:loaisao}">
                            <div class="chat-bl">
                                <div class="hinh"><img width="50px" height="50px" src="/file/user/{{evalutes.avatar[$index]}}" alt=""></div>
                                <div class="ten-nbl">{{item.cutomer.name}}</div>
                                <div class="time"  >{{item.date| date:'dd-MM-yyyy'}}</div>
                            </div>
                            <div class="ccc">
                                <div class='rating-stars' >

                                    <ul id='stars{' >
                                        <li class="star {{::(item.footQuality >= 1 ? 'selected' : '')}}" title='Poor' data-value='1'>
                                            <i class='fa fa-star fa-fw'></i>
                                        </li>
                                        <li class="star  {{::(item.footQuality >= 2 ? 'selected' : '')}}" title='Fair' data-value='2'>
                                            <i class='fa fa-star fa-fw'></i>
                                        </li>
                                        <li class="star  {{::(item.footQuality >= 3 ? 'selected' : '')}}" title='Good' data-value='3'>
                                            <i class='fa fa-star fa-fw'></i>
                                        </li>
                                        <li class="star  {{::(item.footQuality >= 4 ? 'selected' : '')}}" title='Excellent' data-value='4'>
                                            <i class='fa fa-star fa-fw'></i>
                                        </li>
                                        <li class="star  {{::(item.footQuality >= 5 ? 'selected' : '')}}" title='WOW!!!' data-value='5'>
                                            <i class='fa fa-star fa-fw'></i>
                                        </li>
                                    </ul>


                                </div>

                                <div class="bl-ct">{{item.comment}}</div>
                            </div>
                            <hr>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<div th:replace="/partials/footer.html"></div>
    <script src="/js/angular/ProductDetail.js"></script>
<script>
        $('#myModal').on('shown.bs.modal', function () {
         $('#myInput').trigger('focus')
})
    </script>
</body>
</html>
