<!DOCTYPE html>
<html>
<head>
    <title>Chi tiết sản phẩm</title>
    <link rel="shortcut icon" href="/assets/images/favicon.png" />
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://kit.fontawesome.com/54a9f8f1bb.js"
            crossorigin="anonymous"></script>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" />

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <!-- Google Fonts Roboto -->

    <link rel="stylesheet" href="/assets/css/productcss.css">
    <link rel="stylesheet" href="/assets/css/sach.css">

    <!--Angular link -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>

    <link rel="stylesheet" href="/assets/css/alter.css" />
    <script src="/js/Alter.js"></script>
    <style>
<!--.democlass {-->
<!--  display: none;-->
<!--}-->
</style>

</head>
<body ng-app="app" ng-controller="ctrlproductdetail" style=" background-color: #f2edf3;">
<div th:replace ="~{/partials/header.html}"></div>
<div id="toast"></div>
<div style="background-color: #f2edf3;">
    <div class="detail">
        <div class="gr">
            <div class="hinh">

                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" style="margin-right: 24px;">
                    <ol class="carousel-indicators">
                        <li style="background: black; opacity: 0.5;" data-target="#carouselExampleIndicators" ng-repeat="img in items.imgs" data-slide-to="{{$index}}" class="{{::($index === 0 ? 'active' : '')}}"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item {{::($index === 0 ? 'active' : '')}}" ng-repeat="img in items.imgs">
                            <img class="d-block w-100" src="/file/AnhWebBanHang/{{img.image}}" alt="">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev" style="opacity: 1!important;">
                        <i class="fa fa-2x fa-angle-left text-dark" style="background: #cacaca;padding: 12px 4px; border-radius: 13px;"></i>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next" style="opacity: 1!important;">
                        <i class="fa fa-2x fa-angle-right text-dark" style="background: #cacaca;padding: 12px 4px; border-radius: 13px;"></i>
                    </a>


                </div>

            </div>

            <div class="thong-tin">


                <div class="thong-tin-div">
                    <div class="thong-tin-chung">
                        <div class="ten">
                            {{items.name}}
                        </div>

                        <div class="danh-gia" style="margin-left: 55px;">
                            <span>| 500 đánh giá |</span>
                            <span>| 500 lượt mua |</span>
                        </div>


                    </div>
                    <div class="tdsl">
                        <div class="tieu-de-chung">
                           <strong>{{items.amount}} sản phẩm có sẵn</strong>
                        </div>

                    </div>

                    <div class="thong-tin-gia">


                        <div class="gia">
                            <div class="gia-cu-gia">
                                {{items.price}}Đ
                            </div>
                            <div class="gia-moi-gia">
                                {{items.price*(1-items.sale) }} Đ
                            </div>
                            <div class="giam">
                                {{items.sale*100}}%
                            </div>
                        </div>


                        <div class="mua-hang" style="    position: absolute; bottom: 0px;">
                            <div class="d-flex align-items-center mb-4 pt-2" style="padding: 0.375rem 0.75rem">
                                <div>Số Lượng</div>
                                <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                                    <a class="btn px-2" style="height: 39px;margin-top: 5px; border: 1px solid #ced4da;"
                                       onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                                        <i class="fas fa-minus"></i>
                                    </a>

                                    <input type="number" name="quantity"  id="quantity" min="1" value="1" max="{{items.amount}}"
                                           style="width: 70px; height: 40px; text-align: center;" class="form-control form-control-sm" />

                                    <a class="btn  px-2" style="height: 39px;margin-top: 5px; border: 1px solid #ced4da;"
                                       onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                                        <i class="fas fa-plus"></i>
                                    </a>
                                </div>

                            </div>

                            <div class="btn">
                                <button class="mua ngay ho"> Mua Ngay</button>
                                <button class="mua ho" ng-click="newCar(items.id)"> Thêm Vào Giỏ</button>
                            </div>

                        </div>


                    </div>

                </div>


            </div>

        </div>

    </div>
    <div class="chi-tiet-sp">
        <div class="tt-danh-gia">
            CHI TIẾT SẢN PHẨM:
            <hr>
         <ul><strong>Bộ Xửng inox 3 đáy ngăn cao VIETCOOK :</strong>
            <li>Bộ Xửng inox 3 đáy cao VIETCOOK gồm 1 nồi, 1 ngăn xửng và nắp kính.</li>
            <li>Sản phẩm được làm từ inox nhập khẩu, bền đẹp, an toàn cho sức khỏe</li>
            <li>Nồi xửng thiết kế dáng cao với 3 đáy dày dặn, sang trọng</li>
            <li>Nắp nồi bằng kính chịu lực và chịu nhiệt tốt giúp bạn nhìn được thực phẩm trong quá trình đun nấu</li>
            <li>Nắp đậy kín  tăng khả năng giữ nóng và ngăn ngừa bụi bẩn, vi khuẩn xâm nhập hiệu quả.</li>
            <li>Quai cầm thiết kế dạng quai đũa đặc chắc chắc thuận tiện cho việc cầm nắm, di chuyển nồi trong quá trình nấu ăn.</li>
            <li>Nồi và thân xửng cao giúp bạn nấu, hấp được nhiều thực phẩm hơn</li>
            <li>Nồi to, cao có thể dùng để luộc được 2 con gà.</li>
            <li>Nồi nấu được trên mọi loại bếp</li>
            <li>Sản phẩm có kích thước:  Ø 24, 26, 28, 30 cm</li>
            <li>Liên hệ: 0989 003 003</li>
         </ul>
        </div>
    </div>
    <div class="danh-gia-sp" >
        <div class="tt-danh-gia">
            ĐÁNH GIÁ SẢN PHẨM:
            <hr>
        </div>
        <div ng-if="(evalute.lenght)=0">nono</div>
        <div class="sao-bl" ng-if="">
            jdkl
            <div class="sao-bl-ct">
                dnand
                <div class="so-sao thuc">
                    nono
                </div>
                </div>
        </div>
        <div class="sao-bl"  ng-if="(star)>0">
<!--            -->

            <div class="sao-bl-ct">
                <div class="so-sao thuc">

                    {{star}}


                </div>

                <div class="so-sao">

                    / 5

                </div>
                <div class="star">
                    <img src="/image/Star_icon.png" alt="">
                </div>
            </div>
        </div>



        <div class="bl-content-chung">

            <div class="bl-content" ng-repeat="item in evalute">
                <div class="chat-bl">
                    <div class="hinh"><img src="a1.jpg" alt=""></div>
                    <div class="ten-nbl">{{item.orders.order.cutomer.name}}</div>
                    <div class="time"  >{{item.date| date:'dd-MM-yyyy'}}</div>
                </div>
                <div class="ccc">
                    <div class="sao" ng-init="(_Array = []).length = (item.footQuality) ;">
                        <div class="sao1" ng-repeat="i in _Array track by $index">

                            <div><img src="/image/Star_icon.png"></div>
                        </div>


                    </div>

                    <div class="bl-ct">{{item.comment}}</div>
                </div>
            </div>
        </div>


    </div>
    <div class="sp-tuong-tu">
        <div class="tt-danh-gia">
            SẢN PHẨM TƯƠNG TỰ:
        <hr>

			<div class="row">
                <div class="hotsp col-sm-2"  ng-repeat="item in groupproduct">
                    <div class="">
                        <a href="/product/sanpham/{{item.id}}"> <!-- anh -->
                            <div>
                                <img style="margin-top: 3px;width: 175px;" src="/file/AnhWebBanHang/{{item.imgs[0].image}}"
                                     class="col-sm-12" alt="">
                            </div> <!-- Title -->
                            <h2>
                                <a class="sachxuhuong">{{item.name}}</a>
                            </h2> <!-- Gia -->
                            <div class="xuhuong">
            <span style="color: red;">{{item.price}}<span
                    style="font-size: 16px;">đ</span></span> <span
                                    style="text-align: right; font-size: 11px;">đã bán 1k2</span>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

<div th:replace="/partials/footer.html"></div>
    <script src="/js/angular/ProductDetail.js"></script>
</body>
</html>
