<!DOCTYPE html>
<html>
<head>
    <title>Chi tiết sản phẩm</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <script src="https://kit.fontawesome.com/54a9f8f1bb.js"
            crossorigin="anonymous"></script>
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap" />

    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <!-- Google Fonts Roboto -->

    <link rel="stylesheet" href="/assets/css/productcss.css">
    <link rel="stylesheet" href="/assets/css/sach.css">

</head>
<body>
<div th:replace ="~{/partials/header.html}"></div>
<div>
    <div class="map">

        <div><a href="">TRANG CHỦ</a></div>

        <div><img class="imgs" src="right-arrow.png" alt=""></div>

        <div><a href="">SẢN PHẨM CHI TIẾT</a></div>

        <div><img class="imgs" src="right-arrow.png" alt=""></div>

        <div class="map-sp"><a href="">Gối</a></div>

    </div>
    <div class="detail">

        <div class="hinh">

            <div class="hinh-chinh">
                <img src="a1.jpg" alt="">

            </div>

            <div class="hinh-phu">

                <div class="hinh-phu-1">
                    <img src="a1.jpg" alt="">

                </div>
                <div class="hinh-phu-2">
                    <img src="a3.jpg" alt="">


                </div>
                <div class="hinh-phu-3">
                    <img src="a2.jpg" alt="">

                </div>
                <div class="hinh-phu-4">
                    <img src="a1.jpg" alt="">


                </div>

            </div>

        </div>

        <div class="thong-tin">


            <div class="thong-tin-div">
                <div class="thong-tin-chung">

                    <div class="tieu-de">
                        Sửa

                    </div>
                    <div class="ten">
                        Cô Gái Hà Lan
                    </div>

                    <div class="danh-gia">
                        <div class="star">
                            <img src="star.png" alt="">
                            <img src="star.png" alt="">
                            <img src="star.png" alt="">
                            <img src="star.png" alt="">
                            <img src="star.png" alt="">

                        </div>
                        <span>(500 đánh giá)</span>
                    </div>


                </div>

                <div class="tieu-de-chung">
                    Màu Sắc
                </div>



                <div class="tieu-de-chung">
                    Loại
                </div>

                <div class="loai">
                    <div class="chon">loai 1</div>
                    <div>loai 1</div>
                    <div>loai 1</div>
                    <div>loai 1</div>

                </div>

                <div class="tieu-de-chung">
                    Số lượng
                </div>

                <div class="so-luong">

                    500

                </div>


                <div class="thong-tin-gia">


                    <!-- <div class="gia-cu">
                        <div class="gia-cu-tt">
                            Giá cũ
                        </div>
                        <div class="gia-cu-gia">
                            5 000 000
                        </div>
                    </div> -->

                    <!-- <div class="mau">
                        <div class="mau-tt">
                            Màu
                        </div>
                        <div class="gia-moi-gia">
                           <div></div>
                        </div>
                    </div> -->


                    <div class="gia">
                        <div class="gia-cu-gia">
                            500.000
                        </div>
                        <div class="gia-moi-gia">
                            300.000
                        </div>
                        <div class="giam">-20%</div>
                    </div>
                    <!-- <div class="so-luong-ton">
                        <div class="so-luong-ton-tt">
                            Hàng lưu kho
                        </div>
                        <div class="so-luong-ton-sl">
                            50 cái
                        </div>
                    </div> -->

                    <div class="mua-hang">
                        <div class="ct">
                            Số lượng
                            <div>
                                <button class="cong ho">+</button>
                            </div>
                            <input class="so-luong" type="text" name="" placeholder="" value="1">
                            <div>
                                <button class="tru ho">-</button>
                            </div>
                        </div>

                        <div>
                            <button class="mua ngay ho"> Mua Ngay</button>
                            <button class="mua ho"> Thêm Vào Giỏ</button>

                        </div>

                    </div>


                </div>

            </div>


        </div>


    </div>
    <div class="danh-gia-sp">
        <div class="tt-danh-gia">
            ĐÁNH GIÁ SẢN PHẨM
        </div>
        <div class="sao-bl">
            <div class="sao-bl-ct">
                <div class="so-sao thuc">

                    4.5

                </div>

                <div class="so-sao">

                    / 5

                </div>
                <div class="star">
                    <img src="star.png" alt="">
                </div>
            </div>
        </div>



        <div class="bl-content-chung">
            <div class="bl-content">
                <div class="chat-bl">
                    <div class="hinh"><img src="a1.jpg" alt=""></div>
                    <div class="ten-nbl">nguyen van a</div>
                    <div class="time">22/12/2022</div>
                </div>
                <div class="ccc">
                    <div class="star-bl">
                        <img src="star.png" alt="">
                        <img src="star.png" alt="">
                        <img src="star.png" alt="">
                        <img src="star.png" alt="">
                        <img src="star.png" alt="">

                        <div class="s-so">5</div>

                    </div>
                    <div class="bl-ct">san pahm rả tot</div>
                    <div class="hinh-bl">
                        <img src="a1.jpg" alt="">
                        <img src="a1.jpg" alt="">
                        <img src="a1.jpg" alt="">
                        <img src="a1.jpg" alt="">
                        <img src="a1.jpg" alt="">
                    </div>
                </div>
                <hr>
            </div>

            <div class="bl-content">
                <div class="chat-bl">
                    <div class="hinh"><img src="a1.jpg" alt=""></div>
                    <div class="ten-nbl">nguyen van a</div>
                    <div class="time">22/12/2022</div>
                </div>
                <div class="ccc">
                    <div class="star-bl">
                        <img src="star.png" alt="">
                        <img src="star.png" alt="">
                        <img src="star.png" alt="">
                        <img src="star.png" alt="">
                        <img src="star.png" alt="">

                        <div class="s-so">5</div>

                    </div>
                    <div class="bl-ct">san pahm rả tot</div>
                    <div class="hinh-bl">
                        <img src="a1.jpg" alt="">
                        <img src="a1.jpg" alt="">
                        <img src="a1.jpg" alt="">
                        <img src="a1.jpg" alt="">
                        <img src="a1.jpg" alt="">
                    </div>
                </div>
                <hr>
            </div>

            <div class="bl-content">
                <div class="chat-bl">
                    <div class="hinh"><img src="a1.jpg" alt=""></div>
                    <div class="ten-nbl">nguyen van a</div>
                    <div class="time">22/12/2022</div>
                </div>
                <div class="cc">
                    <div class="star-bl">
                        <img src="star.png" alt="">
                        <img src="star.png" alt="">
                        <img src="star.png" alt="">
                        <img src="star.png" alt="">
                        <img src="star.png" alt="">

                        <div class="s-so">5</div>

                    </div>
                    <div class="bl-ct">san pahm rả tot</div>
                    <div class="hinh-bl">
                        <img src="a1.jpg" alt="">
                        <img src="a1.jpg" alt="">
                        <img src="a1.jpg" alt="">
                        <img src="a1.jpg" alt="">
                        <img src="a1.jpg" alt="">
                    </div>
                </div>
                <hr>
            </div>

            <div class="bl-content">
                <div class="chat-bl">
                    <div class="hinh"><img src="a1.jpg" alt=""></div>
                    <div class="ten-nbl">nguyen van a</div>
                    <div class="time">22/12/2022</div>
                </div>
                <div class="ccc">
                    <div class="star-bl">
                        <img src="star.png" alt="">
                        <img src="star.png" alt="">
                        <img src="star.png" alt="">
                        <img src="star.png" alt="">
                        <img src="star.png" alt="">

                        <div class="s-so">5</div>

                    </div>
                    <div class="bl-ct">san pahm rả tot</div>
                    <div class="hinh-bl">
                        <img src="a1.jpg" alt="">
                        <img src="a1.jpg" alt="">
                        <img src="a1.jpg" alt="">
                        <img src="a1.jpg" alt="">
                        <img src="a1.jpg" alt="">
                    </div>
                </div>
                <hr>
            </div>

            <div class="bl-content">
                <div class="chat-bl">
                    <div class="hinh"><img src="a1.jpg" alt=""></div>
                    <div class="ten-nbl">nguyen van a</div>
                    <div class="time">22/12/2022</div>
                </div>
                <div class="ccc">
                    <div class="star-bl">
                        <img src="star.png" alt="">
                        <img src="star.png" alt="">
                        <img src="star.png" alt="">
                        <img src="star.png" alt="">
                        <img src="star.png" alt="">

                        <div class="s-so">5</div>

                    </div>
                    <div class="bl-ct">san pahm rả tot</div>
                    <div class="hinh-bl">
                        <img src="a1.jpg" alt="">
                        <img src="a1.jpg" alt="">
                        <img src="a1.jpg" alt="">
                        <img src="a1.jpg" alt="">
                        <img src="a1.jpg" alt="">
                    </div>
                </div>
            </div>
            <hr>
        </div>


    </div>
</div>
</div>
<div th:replace="/partials/footer.html"></div>

</body>
</html>
