
<div style="margin-top: 10px;"
	 xmlns:th="http://www.thymeleaf.org">
	<div class="row"
		 style="background: #FCDDEF; padding: 12px; border-bottom: 1px solid rgb(244, 244, 244); display: flex;">
		<img src="/image/ico_dealhot.png" alt=""> <span
			style="font-size: 17px; font-weight: bold;">Xu Hướng Mua Sắm</span>
	</div>
	<div class="row sp1"
		 style="min-height: 50px; background: white;">

		<th:block th:each= "item,ite:${product}" th:unless="${ite.index > 11}">
			<div class="hotsp col-sm-2" >
				<div class="">
					<a th:href="@{'/product/sanpham/'+${item.id}}"> <!-- anh -->
						<div>
							<img style="margin-top: 3px;width: 175px;" th:src="@{'/file/AnhWebBanHang/'+${item.imgs.get(0).image}}"
								 class="col-sm-12" alt="">
						</div> <!-- Title -->
						<h2>
							<a class="sachxuhuong">[[${item.name}]]</a>
						</h2> <!-- Gia -->
						<div class="xuhuong">
							<div style="    display: grid;">
								<span style="color: red;">[[${#numbers.formatInteger((item.price * (1- item.sale)),0)}]]
									<span style="font-size: 16px;">đ</span>
									<a style="margin-left: 10px" href="" th:attr="ng-click=@{|cart.add(${item.id})|}">
										<span class="badge tnu" >+</span>
										<svg color="#24b81d" xmlns="http://www.w3.org/2000/svg" width="26" height="26" fill="currentColor" class="bi bi-cart3" viewBox="0 0 16 16">
											<path d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 1 0 2 1 1 0 0 1 0-2zm7 0a1 1 0 1 1 0 2 1 1 0 0 1 0-2z"></path>
										</svg>
									</a>
								</span>
								<span style="text-align: right; font-size: 11px;">đã bán 1k2</span>
							</div>

						</div>

					</a>
				</div>
			</div>
		</th:block>

	</div>

	<div class="xemthem">
		<a style="margin: 0 auto; margin-bottom: 15px;"
		   href="/product/all" class="btn btn-danger">Xem Thêm</a>
	</div>

</div>